[2019-06-26 13:32] nick-thompson opened #1 "Improve HostConfig.prepareUpdate"
In the `HostConfig` in `BlueprintRenderer.js` the `prepareUpdate` method is pretty innefficient. It creates an update payload that contains all the old properties and all the new properties. Instead, it should create an update payload containing only new or changed properties so that we don't call into `View::setProperty` on things that haven't changed

[2019-06-26 13:35] nick-thompson opened #2 "Optimize var args"
Where we interface with native methods, I've used ES6 rest/spread for var args (see EventBridge, BlueprintRenderer, and NativeMethods). Duktape notes any use of the `arguments` object as having a major performance impact, and the babel rest/spread transform compiles to using `arguments`. Probably a win to be had here with the old `function dispatchViewEvent(a, b, c, d, e, f)` var args trick, but i

[2019-06-26 13:41] nick-thompson opened #3 "ScrollView snapping to top"
`ScrollView` is implemented on the JUCE side such that it hijacks the `appendChild` View method to push the child view into a `juce::Viewport`. Meanwhile the shadow view tree doesn't have any notion of whether this child is scrolling or not. So when we go through a new layout computation, the shadow view treats the viewport's child as having bounds (0, 0, width, height), and when the layout flushe

[2019-06-26 13:45] nick-thompson opened #4 "Optimize ShadowView::setProperty"
This method gets called a lot, and is pretty dominant in early profiling measurements. Need to dig into it, but off the top of my head I think there are gains to be made with:
* Making a struct of const identifiers for the comparisons so that we don't construct identifiers on every comparison in that call
* Early returns after the identifier is matched to avoid the remaining comparisons

[2019-06-26 15:39] nick-thompson opened #5 "Optimize layout computation"
Right now the ReactApplicationRoot calls `performShadowTreeLayout` on every `setProperty` call. This is obviously overkill; in an ideal case we would run the shadow tree layout only once after the ReactRenderer update lifecycle has completed.

There are probably a couple ways to tackle this, but initially it looks like the renderer calls `resetAfterCommit` in the host config once it has finished c

[2019-06-26 15:42] nick-thompson opened #6 "TextView/RawTextView/AttributedString"
Right now a TextView (`<Text>`) holds a set of `RawTextView` children, and during the render it constructs an AttributedString from the children text for layout and painting.

This is similar to React Native's text implementation, but I'm missing a piece for enabling the nesting of `<Text>` elements within each other, for cases such as bolding a single word of a sentence. Not sure exactly what the

[2019-06-26 15:46] nick-thompson opened #7 "Hot Reloading"
Specifically, implementing a feature for reloading the javascript bundle on the fly, without the need for recompiling. There's a halfway implementation in there right now, but it's pretty poorly thought out, and likely should not be something that the ReactApplicationRoot implements.

Might be able to leverage Webpack's Hot Module loader and get the Duktape engine to just eval a new block of code

[2019-06-26 15:49] nick-thompson opened #8 "Dynamic View Registration"
This one's almost already there, basically just need to refactor ReactApplicationRoot's `createViewInstance` to replace the blocks of `if Viewtype ==` and instead maybe read from a `std::map<juce::String, std::function<ViewId()>>` and just invoke the function. Then provide a hook for registering a new view factory with the ReactApplication Root...

[code]

[2019-06-26 15:53] nick-thompson opened #9 "Refactor ReactApplicationRoot / DuktapeEngine / UIManager"
Right now the ReactApplicationRoot is kind of a monolith of duplicate codepaths that generally breaks down into interacting with and providing an interface for the duktape context, and providing an interface for constructing the View heirarchy. I'd like to split those distinct responsibilities into a DuktapeEngine class and a UIManager class, and let the ReactApplicationRoot be just a simple wrapp

[2019-06-26 15:54] nick-thompson opened #10 "Add a proper Duktape fatal error handler"
This happens at the time of creating the duktape context, should provide some kind of top level error handler like the one you see in React Native which just pops up a big red error screen with the error message and stack trace.

[2019-06-26 15:56] nick-thompson opened #11 "Debugger Support"
RIght now there's no debugging other than `console.log` statements, and that's a pain for larger applications. Duktape does have builtin debug support, just need to find a way to integrate that with this project (https://github.com/svaarala/duktape/blob/master/doc/debugger.rst). I'd like to have an interface something like React Native where you hit CMD+D and it automatically pops up the debugger

[2019-06-26 16:02] nick-thompson opened #12 "Documentation!"
There's a lot to document here and I haven't done any of it :)

Not sure what the tool of choice here is... git storybook looks cool, github pages would be nice, maybe docsify? Either way, should pick one and get started!

[2019-06-26 16:05] nick-thompson opened #13 "Camelcase to hyphen?"
I'm using hyphenated property names (mostly because Yoga uses hyphenated property names and I didn't want to deal with any mapping), which can be annoying when writing a javascript object literal because you have to quote the key names.

I'm not totally sure I want to add this feature, but it might be a nice to have: some camelCase to hyphenated library so that you can write js object literals wit

[2019-06-26 16:13] nick-thompson opened #14 "Open question: Image/BinaryData Support"
Handling image data is an interesting challenge, and there are many different ways to do it.

Currently, Blueprint implements an `<Image>` element that accepts a `source` property expecting a value that is an SVG string, which on the backend is parsed by a `juce::Drawable` and drawn at paint time. This works nicely with Webpack's SVG file loader because it automatically reads `require('path/to/svg

[2019-06-26 16:20] nick-thompson opened #15 "Open question: Event support"
As it stands, Blueprint doesn't really have event support. There's a non-standard implementation of pushing events to JavaScript by registering global functions in your app bundle and calling them from C++, with one special case for finding view instances and pushing events right to them.

A proper implementation would catch events on visible view elements and create something like React's Synthet

[2019-06-30 00:27] nick-thompson opened #16 "Readme"

[2019-06-30 00:27] nick-thompson opened #17 "Template script"
For quickly bootstrapping a new Blueprint project

[2019-06-30 14:46] nick-thompson opened #18 "Demo plugin(s) + Examples"
Right now `examples/BlueprintPlugin` is half-implemented and doesn't prioritize communicating how to work with the available features. I'd like to put some time into making this more along the lines of a JuceDemoPlugin that shows off what's available and how to use it.

I'll also leave this task open ended for additional demo ideas

[2019-06-30 15:55] #17 closed, assigned to nick-thompson

[2019-06-30 23:14] #16 closed, assigned to nick-thompson

[2019-07-04 19:11] alisomay opened #19 "Gain Example Build Failure"
I try to build the Gain example in Xcode Version 9.2 (9C40b).
The example fails to build with the error message,

[code]

[2019-07-06 01:15] nick-thompson commented on #19
Ah, yikes, ok thanks for the report! I've been building on Xcode 9.4.1 just fine, I'll have to look into what's up with 9.2

[2019-07-07 10:03] alisomay commented on #19
Please let me know if you want more info or I can help you in any way.

[2019-07-07 15:57] alisomay commented on #19
I tried in Xcode Version 10.2.1 (10E1001) with OS X Mojave today and it builds with no issues.

[2019-07-07 18:26] alisomay commented on #19
More news :
Since the latest version of Xcode which is compatible with Sierra is Xcode 9.2 and the build failure happens with this one I tried to use Xcode 9.4.1 following this hack in Sierra.
[The instructions for the hack could be found in this link.](https://www.reddit.com/r/iOSProgramming/comments/89p5hw/cant_install_xcode_93_on_macos_sierra_10126/)
[To download any version of Xcode follow thi

[2019-07-07 19:29] nick-thompson commented on #19
Ok, that's great news! So you're up and running with 9.4.1 on your own machine now?

I still want to resolve this issue correctly so that the next person who tries to build with 9.2 doesn't hit the trouble. I've spent some time looking into it and I'm realizing that I don't quite know how to effectively debug this. I'm sure I must be using a C++17 feature that whatever version of clang used in xco

[2019-07-07 20:31] alisomay commented on #19
Yes! That is true it is working and fortunately now I can make experiments with examples (thanks for providing them).
If you think that it is C++17 and clang is the issue I can try to compile it with the latest gcc and see if anything goes wrong. Would you try also ?

[2019-07-09 13:02] nick-thompson commented on #19
Great :)

If you want to spend the time to build with gcc, I'd be very grateful, but don't worry about it. I think there are probably higher priority problems to solve for now, and when I have more time I'll be able to really dig into this one. Thank you!

[2019-07-09 13:54] nick-thompson commented on #5
Quick note here: the React Native host config does not rely on `resetAfterCommit` to perform the layout step; `resetAfterCommit` is a noop there.

With that in mind, perhaps a reliable solution here is to continue calling `performShadowTreeLayout` from within `setProperty` or `addChild` etc, but in the case of setProperty only run the layout if the changed property is one of a predefined set that

[2019-07-09 15:41] nick-thompson commented on #1
Fixed in 99433ec74879f43f429cbadd4c7bc1d0c3dadb33

[2019-07-09 15:41] #1 closed

[2019-07-10 11:30] alisomay commented on #19
Cool, thank you also. At least people can read this and go with the solution I found for myself. Good luck! When I have time I experiment with blueprint, I really think that bringing React to Juce has a future. Also my pursuit of porting paper.js continues slowly ;)

[2019-07-14 16:17] nick-thompson commented on #10
Adding a little more information here; see the fatal error handling docs for duktape: https://wiki.duktape.org/howtofatalerrors

I think a nice way to do this would be to install a fatal error callback that when hit:
1) ReactApplicationRoot removes any child components it has
2) ReactApplicationRoot paints itself red and paints the error msg and stack trace (like React Native)
3) Raise a cpp excep

[2019-07-14 16:20] nick-thompson opened #20 "Event Loop?"
Right now there's no real notion of an event loop. Timers are implemented by a simple map from id (an auto-incremented int) to function with timestamp and the JUCE implementation just runs an interrupt every 4ms to execute any ready timers. This "works" but it's not great, and it won't scale nicely to something like a `fetch` polyfill which needs to push work off to the cpp side for actually colle

[2019-07-17 03:17] nick-thompson commented on #3
Fixed in b0541f1cf14ab42c228bddf98c2ef338cd94e0f1

[2019-07-17 03:17] #3 closed

[2019-07-17 20:57] nick-thompson commented on #8
Added in 7121d46

[2019-07-17 20:57] #8 closed

[2019-07-24 16:36] nick-thompson commented on #9
This also needs complete type conversion from js types to var types. Right now some of the interfacing has it but, for example, the `setViewProperty` stuff is restricted to the easy cases (bool, number, string). Ideally this all goes through one code path for converting from js->var and back.

[2019-07-28 21:58] nick-thompson commented on #20
Thinking about a real event loop implementation in JUCE; essentially we just need a few things: a way to hold references to js callback functions, a timers handler, and some kind of thread pool for synchronous tasks.

* Callback references: https://wiki.duktape.org/howtonativepersistentreferences
    * So basically push a key/value pair into one of the duktape stash where key is some id (auto incr

[2019-08-22 18:07] nick-thompson opened #21 "TextInput native view"
See https://docs.juce.com/master/classTextEditor.html and https://facebook.github.io/react-native/docs/textinput.html

[2019-09-09 06:39] tobanteAudio commented on #12
Hi @nick-thompson

First, many thanks for this project, looks very promising.

I think the easiest for documentation is probably Github Pages + Doxygen. I'm doing it in a couple of my public repositories. See [tobanteAudio/modEQ](https://github.com/tobanteAudio/modEQ) & [Docs](https://tobanteaudio.github.io/modEQ/) or [tobanteAudio/taetl](https://github.com/tobanteAudio/taetl). The docs get build

[2019-09-09 06:45] tobanteAudio opened #22 "Add continuous integration to project"
During my first tests with `blueprint`, `npm` had a couple of errors which I could solve by deleting the `package-lock.json` files & running the `npm install` & `npm run build` commands with `yarn`:

[code]

The problem could have probably been solved otherwise, but I thought this is a perfect example were CI could help and catch these kinds of errors early.

The project maintainer has to enable t

[2019-09-09 08:48] tobanteAudio opened #24 "Style Guide / Code Formatting"
For future contributions, it would probably be very helpful to have a common style guide for source files (JavaScript, C++ & Markdown).

For C++ the only real option is `clang-format`, which is really nice once you find a config that you like.

For JavaScript and Markdown, there are more options. The one that I'm familiar with is `Prettier`, which does both JS & MD.

We could add a script which ru

[2019-09-09 10:21] tobanteAudio commented on #22
I added Travis-ci support on my fork of `blueprint`: [tobanteAudio/blueprint](https://github.com/tobanteAudio/blueprint)

Trying to build it with the `xcode10.1` image I get the same error as explained above (in Windows). Here is the [output](https://travis-ci.org/tobanteAudio/blueprint/builds/582612104) of the build.

[2019-09-09 10:38] tobanteAudio commented on #22
The problem seems to be the `npm install` command. It should be replaced by `npm ci`.
See [here for an explanation](https://medium.com/better-programming/npm-ci-vs-npm-install-which-should-you-use-in-your-node-js-projects-51e07cb71e26).

Although I'm not exactly sure why it works with one and not the other.

Maybe this should be in the README?

[2019-09-16 13:12] nick-thompson commented on #12
Hi @tobanteAudio! Apologies for the slow reply, I'm going through your comments now, thanks so much for writing.

I'm definitely interested in github pages, I think that's the smart move there. I love the idea of CI to build and publish the docs too (and just in general), but I'm a little bit unsure of Doxygen. Would Doxygen support documenting both the C++ API (like ReactApplicationRoot) and the

[2019-09-16 13:17] nick-thompson commented on #24
💯 absolutely. I think that would be helpful even just for me, but also to lower the overhead for any interested contributors.

To be honest, I'm not very well versed in either Prettier or clang-format, but I've seen them both around a bunch. I've tried to keep pretty close to the JUCE code style in my C++ but my JavaScript formatting has just been habitual. If we can roughly formalize the existing

[2019-09-16 13:32] nick-thompson commented on #22
Awesome! I love it, this looks great. A quick couple thoughts:

* Interesting about `npm install` vs `npm ci`. It makes sense as to why `yarn` works but `npm install` doesn't... I feel like `npm ci` should be npm's default (which would match `yarn`'s behavior). Let's use `npm ci` in the CI builds and also yea update the README. I suppose users who just want to use Blueprint should use `npm ci` but

[2019-09-17 20:07] tobanteAudio commented on #22
The VST3 SDK is built into JUCE, so no extra dependencies.

[2019-09-24 14:35] nick-thompson commented on #22
Ok perfect! I didn't know that.

I'd love to squash/merge your branch (https://github.com/tobanteAudio/blueprint/tree/travis-ci) here to get CI integrated, if you're interested? The only change I would ask is to re-save the BlueprintPlugin Projucer file with the version of JUCE pinned in the submodule (blueprint/ext/juce). I think it makes sense to keep those projects in sync.

[2019-10-13 17:29] PentagramPro opened #25 "compilation fails if JUCE_STRICT_REFCOUNTEDPOINTER is defined to 1"
This definition disables implicit conversion from ReferenceCountedObjectPtr to ReferencedType* which increases safety. Personally I like higher level of safety. If it contradicts your design, feel free to close this issue :)

Tried building on Windows with MSVS 2019.  See juce_ReferenceCountedObject.h for details.

[2019-10-27 15:41] nick-thompson commented on #25
Hey @PentagramPro, sorry I'm just seeing this issue now! Thanks for reporting.

I'll look into this, pretty sure I know where that issue might arise, and I'm also pretty sure that I can take care of it cleanly during #9 which I'm working on now

[2019-10-31 14:09] nick-thompson commented on #10
Note to self: refactoring the js engine is nearly complete, and is definitely the place for the fatal error handling. After spending some time with Duktape's error handling facilities, I think it makes the most sense to use protected calls everywhere inside the js engine, and when we catch an error at that level, call some user-given callback with the msg and stack trace. For all other errors, suc

[2019-10-31 14:15] nick-thompson commented on #20
Thinking about this some more, especially now that #9 is nearly complete. The new `EcmascriptEngine` class should now be the place for any sort of event loop implementation. I don't know that we necessarily need a beast of an event loop, I think it might be sufficient to install a couple native methods in EcmascriptEngine for `setTimeout`/`setInterval`/`clearTimeout`/`clearInterval` which just sto

[2019-11-03 21:02] nick-thompson commented on #25
Fixed in edb738b767d11fa61c371bcd2ecc7f75ed384747 as part of the refactor for #9. I'm going to close this issue, please reopen if you see something wrong!

[2019-11-03 21:02] #25 closed

[2019-11-04 12:52] nick-thompson commented on #7
Added in 9b4f807

[2019-11-04 12:52] #7 closed

[2019-11-25 13:39] nick-thompson commented on #10
Addressed in 4c82eecd60d3dbba247b80da946569bd9e6e155b and the previous two commits.

[2019-11-25 13:39] #10 closed

[2019-11-25 13:43] nick-thompson commented on #9
Largely addressed in edb738b767d11fa61c371bcd2ecc7f75ed384747 after the introduction of the `EcmascriptEngine`. Right now `ReactApplicationRoot` still does a lot of work that could be refactored into a `ViewManager` class, but there's some coupling in there that should be carefully looked at during a refactor

[2019-12-07 17:41] nick-thompson opened #27 "Refactor a HotReloader out of BlueprintGenericEditor"
The `BlueprintGenericEditor` implements hot reloading by polling the file system to see if the js bundle has changed. It's super simple, and there's no reason that it has to be tied to a notion of a plugin editor (it should be usable no matter what type of app you're using). So I think just pulling that out into a separate class which can be composed wherever you need it makes sense.

[code]

Just

[2019-12-07 17:57] nick-thompson opened #28 "Measure cost of native function invocations from js"
This comes from the longer term goal of implementing the 2d Canvas API via native calls to a `juce::Graphics&` instance; I want to understand the difference in executing a call to the graphics instance from native vs from the javascript environment to get a sense of how practical this would be from a performance standpoint. I think even a simple benchmark would do:

[code]
vs binding a call to `g.

[2019-12-11 19:09] pauliusuza opened #29 "Allow references inside lamda"
I'm blocked by `appRoot->engine.registerNativeMethod` not allowing to pass variables inside lambda by reference: `[&](void* stash, const juce::var::NativeFunctionArgs& args)` - note the `[&](...`

I'd like to reference the cast of my processor inside the lambda function. Would it be possible to add support for this use case?

Great Library. Thanks.

[2019-12-17 13:09] nick-thompson commented on #29
Hey @pauliusuza, sorry for the delay here, I'm not sure why but I'm not getting notifications for new issues... need to figure that out.

That's right, yea, the native methods need to conform to a c-style function pointer interface because of how duktape works with function calls. Lambdas without a capture group can be cast as such, but as soon as you capture, it breaks the cast. The workaround is

[2019-12-17 13:16] nick-thompson opened #31 "AnimatedView"
The `blueprint::View` has a `setFloatBounds` method that the ShadowView calls into during a layout step. That method then delegates on to the `juce::Component`. I want to continue keeping this piece decoupled from the `juce::Component` interface, but there's a neat opportunity here because of the decoupling:

I want to create an `AnimatedView`, similiar to juce's `ComponentAnimator`, where when th

[2019-12-17 13:24] nick-thompson opened #32 "Pass js function as prop to native view"
This will be some duktape/juce trickery in `readVarFromDukStack` inside the EcmascriptEngine implementation to check if the given stack index is a function (`duk_require_function` or similar), and if it is, push that function into some global stash keyed by a unique id (https://wiki.duktape.org/howtonativepersistentreferences), then construct a `juce::var::NativeFunction` that captures that unique

[2019-12-17 14:39] nick-thompson opened #33 "Pimpl for EcmascriptEngine and V8 Implementation"
Right now the EcmascriptEngine interface leaks (as in leaky abstraction) the `duk_context` as a private member variable. Long term I want the EcmascriptEngine to be a generic interface that can be implemented by any one of the various ES5+ compliant embedded js engines, and therefore the EcmascriptEngine interface should be totally implementation-independent. For that reason, I think it's a good i

[2019-12-18 21:21] nick-thompson opened #34 "Rename project?"
Someone sent me a link to this recently: https://blueprintjs.com/

Turns out "React" + "Blueprint" is already a thing... might be time to come up with a new name for this project!

[2020-01-24 15:23] nick-thompson commented on #20
See https://github.com/whoshuu/cpr for the fetch polyfill. Seems better equipped and easier to use than juce's URL class

[2020-03-08 19:01] codenakama commented on #12
Hi @nick-thompson I think something like Docusaurus could help here as it allows to get OOTB a nice and easy website where you can document the project. It does not generate documentation based on your source but it's flexible enough so that you can document the api and usages with markdown as you go - https://docusaurus.io/ - and then deploy to github pages || netlify.com || now.sh

[2020-03-17 13:42] nick-thompson commented on #12
Thanks @codenakama ! I definitely like the looks of Docusaurus, I think we can go ahead with it.

My time is tight right now but I started trying to put better docs in the Wiki: https://github.com/nick-thompson/blueprint/wiki. There's so much more to write there but it's a start, and at least should hopefully help kickstart a transition to docusaurus.

[2020-03-27 16:31] zigen opened #36 "Reference to ‘AudioBuffer’ is Ambiguous"
failed to build examples/BlueprintPlguin AU Plugin with XCode 11.4(11E146) on macOS 10.15.14 (Catalina)

the error shows 'Reference to ‘AudioBuffer’ is Ambiguous'.
JUCE causes this error on XCode11.4 and [already solved](https://forum.juce.com/t/juce-is-busted-in-xcode-11-4/38249/5)  in JUCE's `develop` branch. [the commit is here](https://github.com/WeAreROLI/JUCE/commit/dddeb1ad68f8539f5ea2fbac3

[2020-04-12 14:14] JoshMarler commented on #27
Hey @nick-thompson, This framework is so flipping good. I'm actually working on this as part of a project I'm working on at my current shop. If you're still after this I can drop over a few pull request with some of my changes when I'm satisfied things are working well.

I also have a few GCC fixes as I've been compiling on Linux

[2020-04-12 19:31] JoshMarler commented on #27
As an aside. Presumably we need to notify clients of HotReloader at two points. Going off of the example code in BlueprintGenericEditor::assignNewAppRoot:

1. When resetting the appRoot unique_ptr so that clients can then call registerNativeMethod etc.
2. Once appRoot->evaluate(bundleFile) has been called so clients can addAndMakeVisible etc.

i.e. Something along the lines of the below:
`    void

[2020-04-17 19:23] jrlanglois opened #37 "Need to indicate node.js is a dependency in README.md"
Not having dealt with `npm` before, I can imagine others will be as confused as I was!

Also, I have no idea what this means if I want to bring my app to a different system to develop, let alone to just run. Say I'm in a sharing mood and want my friend to test out my app on their system - then what? Do they have to install node.js to run my app?

[2020-04-17 19:24] jrlanglois opened #38 "JUCE has moved!"
Your submodule is out of date now and should point to this URL: https://github.com/juce-framework/JUCE

[2020-04-17 19:41] jrlanglois opened #39 "FR to pregenerate VS projects"
The Xcode project is pregenerated by the Projucer and committed to the repo. Would be nice to have the VS projects available as well. The purpose of JUCE is to be cross-platform so it would help get a better sense of the feasibility of this project without having to go through more hoops.

[2020-04-19 15:31] nick-thompson commented on #27
Hey @JoshMarler thanks so much, I would very happily welcome your changes!

Totally hear you, I haven't sorted out the best API for this class yet either. I like the callbacks you have there for sure, and I also like the decoupling from `BlueprintGenericEditor`. It sounds like `BlueprintGenericEditor` could just simply consume `ReactBasedComponent`? And maybe the hooks for native methods/event dis

[2020-04-19 15:47] JoshMarler commented on #27
Hey Nick!

Yeah I toyed between lambda and listener patterns, std::function member sounds fine to me.

In regards to rolling the changes into ReactApplicationRoot, certainly seems worth a go. I'll write up both approaches (ReactBasedComponent and ReactApplicationRoot) and see which looks nicer in the context of this project I'm working on. Then maybe I can drop you an MR for each and you can criti

[2020-04-19 17:58] nick-thompson commented on #27
That sounds great, thanks so much for your help

[2020-04-19 18:01] nick-thompson commented on #38
Ah yes, thank you!

[2020-04-19 18:06] nick-thompson commented on #37
Great point. Made me realize, I had written a better intro in the Wiki but never linked to it in the Readme, I'll change that :)

Here's the better guide: https://github.com/nick-thompson/blueprint/wiki/Getting-Started let me know if that one can be improved further. And yea, great question: Node.js and `npm` are only a development dependency; basically a compiler that takes in the js source code

[2020-04-19 18:07] nick-thompson commented on #39
💯 ! I work primarily on MacOS, which is the only reason there aren't VS projects in here. Blueprint is totally cross-platform-friendly. I'm totally happy to add them here or take a pull request that adds them

[2020-04-19 18:39] nick-thompson commented on #38
Done in d23b4dd

[2020-04-19 18:39] #38 closed

[2020-04-19 18:53] nick-thompson commented on #37
Ok readme is updated! I'm going to mark this as complete but please feel free to reopen if you think the readme needs further work

[2020-04-19 18:53] #37 closed

[2020-04-22 10:56] JoshMarler opened #41 "Add CMakeLists.txt to compile blueprint.cpp as static and/or shared libs"
Hi Nick,

Currently using blueprint on linux in a CMake based build system. Would you be open to an MR with a simple CMakeLists.txt that effectively adds targets for a static and shared lib build of blueprint.cpp ?

This could add something along the lines of

[code]

This would allow other CMake projects to simpy use something like the following to add blueprint:

[code]

[2020-04-22 10:57] JoshMarler commented on #41
Appreciate this could become more developed to add targets for the example plugins etc. etc.

[2020-04-22 17:28] JoshMarler commented on #27
Ok so this might land more like a couple days from now. Bugs to kill at work :-(

[2020-04-24 13:03] nick-thompson commented on #27
No problem, totally understand :)

[2020-04-24 13:05] nick-thompson commented on #41
Definitely! I'm personally not too well-versed in CMake, but I totally understand its popularity. I'd be happy to include this to make the project more accessible to CMake users, and honestly I'd like to defer to you about how to best integrate with JUCE 6

[2020-04-26 13:10] JoshMarler opened #42 "Undefined property access getPublicInstance"
Hi Nick.

Trying to do some error troubleshooting and struggling with debugging. Looked into the duktape debugger integration but I expect a decent amount of work there to integrate nicely.

I'm seeing a bunch of "undefined property access" issues in my App component. Can't tell any significant changes that might have caused this. I've tried updating react-reconciler to latest but no joy.

Any cha

[2020-04-26 15:17] nick-thompson commented on #42
Hey @JoshMarler

Funny you write that, I was just pulling up the issues tab to log my own very related issue. The short story of it is that debugging in blueprint is _tricky_ right now and often I get by just through the use of console.logs. I really want to prioritize #11 but quite honestly I'm not sure how best to do it.

I'm facing a similar issue that I _think_ has to do with an updated versio

[2020-04-26 15:26] JoshMarler commented on #42
Hey Nick!

As always thanks for the the speedy reply. I've got various pull requests on their way!

Ok awesome thanks for the heads up. I assumed it was some minor bump in the reconciler package. I might try rolling back a few versions just incase. Will give the debugger a try.

On a side note, I've been reading into the duktape transfer protocol and friends so if you're looking for some assistanc

[2020-04-26 15:33] nick-thompson commented on #42
That would be so amazing!

[2020-04-26 15:44] nick-thompson commented on #42
(FWIW: if you copy the `package-lock.json` from the `examples/GainPlugin/Source/jsui` directory, update the line for `file:../../` pointing to the blueprint package, and re-run `npm install` you'll grab a version of everything that works with the current Blueprint host config. At least that will unblock your current development for now)

[2020-04-26 15:46] JoshMarler commented on #42
Awesome. Thanks Nick I'll give that a go for a moment so I can get a little further with this change and then try the cmd line debugger.

[2020-05-08 16:37] JoshMarler commented on #42
Hey Nick.

I managed to sort this out in the end. I'm using a slightly wonky approach in my experiments for our project which involves using yarn workspaces with a "Page" or App root/bundle per workspace. We have a number of pages which are essentially components owning a single bundle that represents the UI for the entire page.

When a user changes mode they are taken to a new page. Workspaces ma

[2020-05-08 16:37] JoshMarler commented on #42
I'll close this issue off now and drop some separate MR's.

[2020-05-08 16:37] #42 closed

[2020-05-12 14:12] nick-thompson commented on #42
Thanks @JoshMarler ! To be honest, I'm totally unfamiliar with yarn workspaces, but yea that sounds cool. I'm sure there's a way to include yarn... maybe even just adding a yarnfile.lock next to the package-lock.json? That way whether you use yarn or npm we can guarantee a working set of dependencies?

[2020-05-13 13:44] teotigraphix commented on #34
`Blueprint++`  ;-)

[2020-05-20 01:26] #32 closed

[2020-05-20 01:44] nick-thompson opened #43 "Clean up the `nativeMethodWrapper`"
Commit 3811b0687d63059635254d8b7548abeec3a60877 introduces a better way to handle native method registration, used in the `pushVarToDukStack` and `readVarFromDukStack` methods to support passing e.g. a `DynamicObject` that has a `juce::var::NativeFunction` as a property.

The original `nativeMethodWrapper` is still lingering in there as used by the `registerNativeMethod` API, but it should be repl

[2020-05-20 01:47] nick-thompson opened #44 "Clean up `dispatchViewEvent`"
With closing #32, we have a much nicer way to support invoking function props from a native view implementation. For example: https://github.com/nick-thompson/blueprint/commit/97ebe8cbe440bc384b10b08e8ab46273645ff2b7#diff-0fb21fdaed83bdf217e9ec1889cc57afR85

That means that all of the `dispatchViewEvent` stuff (e.g. https://github.com/nick-thompson/blueprint/blob/326867e9907cb20edcd7ea34b578d76d1a

[2020-05-20 16:14] JoshMarler commented on #27
Just thinking about finishing this off @nick-thompson , I wonder whether it actually makes sense to have a HotReloader class at all? I'm unlikely to ever us it outside of ReactApplicationRoot and HotReloader would require callbacks on bundle change to signal ReactApplicationRoot anyway.

Perhaps it makes more sense for ReactApplicationRoot to do the"hot reloading" and simply have an enableHotReloa

[2020-05-20 16:55] JoshMarler commented on #27
Might be easier if I just drop a pull request and you can pull it apart

[2020-05-20 17:19] nick-thompson commented on #27
Yea, I think you're right– rolling it into `ReactApplicationRoot` makes the most sense. And I think with the before and after callback hooks it will be as flexible as anybody might need.

:+1: Love that

I think there should always be a way to reach `ReactApplicationRoot`'s `EcmascriptEngine` just so you can always interact with the js closely, and you could call `evaluate` directly there. The `ev

[2020-05-20 17:23] JoshMarler commented on #27
OK Awesome. Food for throught.

This is a super useful thing to know actually. It could open up lazy load opportunities with things like reusable component modules in a project with multiple bundles.

[2020-05-21 14:49] MinMiguelM opened #45 "Error compiling: invoke is not a member of 'std'"
Hi, I am following the Starting a New Project guide and when I built I got the next error:

`blueprint/core/blueprint_CanvasView.h: In member function 'virtual void blueprint::CanvasView::paint(juce::Graphics&):
error: 'invoke' is not a member of 'std'
std::invoke(props["onDraw"].getNativeFunction(), nfargs);`.

I dont know if there is a missed step or there is an error there.

I'm using JUCE v5.4

[2020-05-21 14:51] JoshMarler commented on #27
Hey Nick. Just an FYI.

I'm having a crack at pulling out the ViewManager as we speak. I hit a point in the HotReload refactor where it's actually necessary and having it as a unique_ptr as you've suggested will indeed make hot reloading in ReactApplicationRoot much more straight forward.

I'll drop a pull request in as soon as I'm done as maybe we can pull it apart together. I have a couple inter

[2020-05-21 15:05] JoshMarler commented on #27
Would you be up for an MR with a couple of commits? The first will be the ViewManager separation and then later commits will be hot reloading managed by ReactApplicationRoot? It's useful for me to think about both and how the will work together and I think it would be good to discuss the two changes as a pair. Hopefully the diff won't be too huge.

ViewManager is actually coming out quite nicely.

[2020-05-21 15:09] nick-thompson commented on #27
🙌 awesome! Yea, feel free to make multiple commits and even multiple merge requests. I'm definitely in favor of breaking up the work along lines that are sensible to reason about

[2020-05-21 15:11] JoshMarler commented on #27
One interesting thing from a client perspective is whether it's nicer to have ViewManager as a unique_ptr member or as a class inherited by ReactApplicationRoot. The stuff only used by ReactApplicationRoot can become protected and we could just make registerViewType and the like public?

It's that or a ReactApplicationRoot::registerViewType which delegates to the same names function on the ViewMan

[2020-05-21 15:20] nick-thompson commented on #27
I think I'm generally a fan of composition over inheritance, but especially here I think it makes sense to lean on composition because then dispose() or clear() just becomes `viewManager.reset(new ViewManager())` (and I guess resetting the ecmascript engine instance).

I think `registerViewType` is the only public method on ReactApplicationRoot that would be basically a proxy to view manager, so i

[2020-05-21 15:27] JoshMarler commented on #27
Cool I'm down with that. Will finish off with that approach.

[2020-05-21 17:07] JoshMarler commented on #27
Alrighty. Done with the ViewManager pretty much. Will throw over PR shortly. Has some TODO comments I thought we could discuss and I'll remove them and push up resolutions once discussed. Just running some tests/sanity checks

[2020-05-21 19:14] MinMiguelM commented on #45
Ok, I updated gcc to 7.5.0 and it fixed that problem but now I am getting other error:

blueprint/core/blueprint_GenericEditor.cpp:98:21: error: passing ‘const blueprint::ReactApplicationRoot’ as ‘this’ argument discards qualifiers [-fpermissive]
                     );
                     ^

[2020-05-21 20:34] JoshMarler commented on #45
@MinMiguelM this might be fixed by the following PR: https://github.com/nick-thompson/blueprint/pull/47

[2020-05-22 09:12] JoshMarler opened #48 "Implement remaining Canvas API"
@nick-thompson, I've started adding more Canvas API functions so figured it makes sense to open an issue here or pop something on the project board to track against?

Issue scope is to continue the work started here: https://github.com/nick-thompson/blueprint/commit/97ebe8cbe440bc384b10b08e8ab46273645ff2b7

We want to implement bindings for as much of the CanvasRenderingContext2D API as possible:

[2020-05-22 11:44] JoshMarler commented on #48
PR for some of this work started here: https://github.com/nick-thompson/blueprint/pull/49

[2020-05-22 17:04] MinMiguelM commented on #45
yeah, a mutable lambda fixed, but now I am getting other error in duk_console, idk if probably the fix is already in the PR that you created, I will wait for it.

Thanks

[2020-05-22 17:11] JoshMarler commented on #45
Hey @MinMiguelM, yeah I think hopefully that is fixed with those changes around duk_throw etc.

[2020-05-23 14:52] nick-thompson commented on #45
:+1: thanks guys. @MinMiguelM I'll prioritize getting Josh's PR merged, let me know if it fixes your issues!

[2020-05-23 14:58] MinMiguelM commented on #45
@nick-thompson , @JoshMarler

I replicated those fixes and this error is throwing when I started app:

---------
Render started...
Error: {}
    at [anon] (/Builds/CLion/../../Modules/blueprint/blueprint/duktape/extras/console/duk_console.c:49) internal
    at error () native strict preventsyield
    at jn (eval:28) strict
    at [anon] (eval:28) strict
    at vt (eval:28) strict
    at ht (eval:2

[2020-05-23 15:01] JoshMarler commented on #45
@MinMiguelM, it's probably worth confirming which app, i.e. is it one of the examples? Also you might want to run npm build in development mode to get an error with more context there. It looks like some js code that is probably doing something naughty. Suspect @nick-thompson can point you in the right direction.

If I've broken an example app please let me know!

[2020-05-23 15:07] MinMiguelM commented on #45
It is not an example, It is a new audio  plugin JUCE project.

Error in dev mode:

Render started...
Error: The above error occurred in the <App> component:
    in App

Consider adding an error boundary to your tree to customize error handling behavior.
Visit https://fb.me/react-error-boundaries to learn more about error boundaries.
    at [anon] (/Builds/CLion/../../Modules/blueprint/blueprint/du

[2020-05-23 15:30] nick-thompson commented on #45
Ok yea that's a different error, and probably a "high priority needs fixing" bug– something in the javascript dependency tree of Blueprint, something updated, and that thing no longer plays nicely with Duktape. This is blocking people from getting up and running with the project (I've seen this bug before), but it's a tricky one and will take me some time to find it.

In the meantime, @MinMiguelM

[2020-05-23 15:41] MinMiguelM commented on #45
Yeap, it worked.

Let me know if I can help with anything, in the meantime I will try to find what dependency is making this happen.

Thanks

[2020-05-24 15:10] nick-thompson commented on #45
Great! @MinMiguelM that would be super helpful.

I'll go ahead and close this then, as I think it's resolved now that #47 is merged. I'll open a new issue to track the javascript dependency bug

[2020-05-24 15:10] #45 closed

[2020-05-24 15:12] nick-thompson opened #50 "JS Dependency Bug: "Unsupported""
A fresh install of blueprint in a new project seems to pull in some dependency somewhere that uses a language feature unsupported by duktape:

[code]

I think the best way to tackle this is probably (1) compile the duktape CLI tool with debugging support, (2) compile a `main.js` blueprint bundle with some shims for the native functions, then (3) run that bundle in the duktape CLI and try to catch

[2020-05-24 18:46] nick-thompson commented on #9
This is completed now as of #46 thanks to @joshmarler

[2020-05-24 18:46] #9 closed

[2020-05-24 21:19] JoshMarler opened #51 "Add Typescript definitions/support"
It would be great to add TypeScript definitions/support to Blueprint. Strong types will be a familiar warm blanket for less JS savvy C++ devs.

Being able to define interfaces and the like for component properties will help with avoiding errors at compile time (View would certainly benefit from this addition). It's inherently a little more complex to debug type mismatches and referencing undefined

[2020-05-25 21:39] nick-thompson commented on #51
💯 love the idea! I think `View` is a great place to start, and after #44 and #43 go in, the `View` API should be pretty stable, so sounds like great timing

[2020-05-25 21:50] JoshMarler commented on #28
I'd be super interested in this also @nick-thompson. I intend to do a hefty amount of profiling once the canvas pr is merged.

Incidentally, I understand blueprint is currently using the standard duktape header and CPP files but duktape offers many build customisation options which generate a new duktape.h etc. Might be useful to document/facilitate this in Blueprint. My main concerns are going to

[2020-05-25 21:52] nick-thompson opened #52 "Support `getTransform` in `CanvasView`"
Per the discussion [here](https://github.com/nick-thompson/blueprint/pull/49#discussion_r429548431) in #49, we're working to implement a shim of the [CanvasRenderingContext2D](https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D) API such that from javascript you can draw with something that feels exactly like working on a `<canvas/>` in web, but actually draws natively via JU

[2020-05-25 21:58] nick-thompson commented on #28
Fantastic, I'd be thrilled if you want to do some profiling! Very curious to see the results.

Yea, you're totally right that there might be better ways to optimize the included duktape installation. I'm not totally convinced that shipping duktape _within_ blueprint is the right thing to do, but I originally made the decision because I wanted to heavily prioritize making it super easy to get up an

[2020-05-25 22:01] JoshMarler commented on #28
Yeah interesting question, particularly if you adopt the pimpl idiom in EcmaScriptEngine to facilitate other interpreters. Maybe then it's down to the user to fetch the source for whichever interpreter implementation they desire and just set include paths etc.

[2020-05-25 22:05] nick-thompson commented on #28
Definitely. Maybe we can include a "default" duktape in there that facilitates people getting up and running super easily, but provide an easy "opt out" flag that lets you swap in a different backend (V8, JavaScriptCore, or even just a differently-compiled duktape) that fits your needs

[2020-05-26 12:25] JoshMarler opened #53 "Blueprint "extras" module"
It would be great to create a new blueprint-extras or blueprint-components repo/module which provided users with a set of reusable components to get up and running.

For example, blueprint-extras could supply a generic <Slider> implementation which handles value changes etc. This component could work in a similar fashion to juce::Slider and still allow users to customise the slider's behaviour wit

[2020-05-26 13:45] nick-thompson commented on #53
Yes! I meant to mention this in our conversation, but looking back over our chats I obviously forgot :)

At the root of the current repository is a `blueprint/` directory holding the "blueprint core juce module." Right now, especially as blueprint continues to evolve quickly and as the "extras" module grows, I think it makes sense to just keep it right here– probably just a `blueprint_extras/` dir

[2020-05-26 14:02] JoshMarler commented on #53
Yeah that sounds like a great start to me!

[2020-05-26 14:03] JoshMarler commented on #53
I'll be writing a couple of "generic" component classes over the next few days for my current project so once I'm happy with them I'll be sure to send a PR across with this.

[2020-05-26 14:21] nick-thompson commented on #53
Great, excited to see it! Thanks

[2020-06-01 13:46] nick-thompson commented on #27
Closing this, resolved in #54 🎉

[2020-06-01 13:47] #27 closed

[2020-06-09 13:03] JoshMarler commented on #11
@nick-thompson, So I'm starting on this now. This issue is probably the best place to discuss initial approach.

Initial ideas:

I think it would be nice to follow the approach used for hot reloading in ReactApplicationRoot. If JUCE_DEBUG is enabled then we add ReactApplicationRoot as a juce::KeyListener to itself and in response to CMD-D/CTRL-D we call duk_debugger_attach(), CMD-C/CTRL-C or simil

[2020-06-09 13:14] nick-thompson commented on #11
Cool, I'll be so excited to see this!

Definitely like the CMD-D/CTRL-D idea in DEBUG.

The compile definitions I'm currently doing here: https://github.com/nick-thompson/blueprint/blob/master/blueprint/blueprint.cpp#L31 I know that it's not the _right_ way to embed duktape and makes custom configuration definitely difficult. I think we could get away with this setup for those two defs, but maybe

[2020-06-09 13:16] JoshMarler commented on #11
Ha yeah I'm just hacking that in now to get started. Yeah fair enough, it's not an essential thing right now. I've been pleasantly surprised with the performance on linux just using the stock configuration so far anyways.

[2020-06-10 10:01] JoshMarler commented on #11
@nick-thompson, So I can get the debugger attached using both the vscode duktape extension and the web based debugger in duktape. However I'm struggling to get breakpoints working. I believe this is an issue with having an single minified bundle and duktape not supporting source maps.

Duktape has an open issue to add source map support. The vscode extension supposedly supports source maps however

[2020-06-10 18:01] JoshMarler opened #60 "Add support for Drag and Drop component/View"
It would be great to add support for drag and drop views/components. We could have an outer View/Component type acting as a juce::DragAndDropContainer and apply a "draggable" property to the base View type which would apply to child components of the outer drag/drop container element.

See:

https://developer.mozilla.org/en-US/docs/Web/API/HTML_Drag_and_Drop_API
w3schools.com/html/html5_draganddro

[2020-06-11 10:20] JoshMarler commented on #11
Initial work started in https://github.com/nick-thompson/blueprint/pull/61

[2020-06-11 14:26] nick-thompson commented on #11
Boom!! I'll take a quick pass on the PR now. I agree that the chrome dev tools transport could be a lot, definitely happy to defer that. Being able to do _any_ debugging will be amazing

[2020-06-11 14:32] JoshMarler commented on #11
Awesome. Think I've found fix for the GETHEAPOBJINFO failure too so this might be fully functioning shortly. Requires a webpack change to function reliably etc. so some more bits to push up shortly.

[2020-06-11 14:39] nick-thompson commented on #11
Ah interesting. What's the webpack change?

[2020-06-11 14:42] JoshMarler commented on #11
Basically just ensuring source map entries are absolute:

devtoolModuleFilenameTemplate: 'webpack:///[absolute-resource-path]'

[2020-06-11 14:47] nick-thompson commented on #11
Ok cool, didn't know about those options!

[2020-06-11 14:51] JoshMarler commented on #11
Will move all conversation on this over to the PR now but heap object inspection is now working so you can interrogate both "this" and local vars inside component member functions

[2020-06-11 14:52] JoshMarler commented on #11
Ha me neither. There has been much pain debugging the extension to workout why my source map wasn't working for all files. I've burnt out my Google searching quota for the day.

[2020-06-16 14:19] nick-thompson opened #62 "Enable Custom Duktape Integrations"
This issue sparked from discussion in PR #61: https://github.com/nick-thompson/blueprint/pull/61#discussion_r440796599

As Blueprint has grown, we've had to modify the duktape config inline to support the changes we need, which very much feels like (1) not the way duktape is meant to be integrated into a project and (2) it limits the end user's flexibility with duktape and Blueprint. For example,

[2020-06-16 14:23] nick-thompson opened #63 "Implement a full Duktape Debugger Transport"
Sparked from discussion in PR #61: https://github.com/nick-thompson/blueprint/pull/61#discussion_r440878576

To implement debugging with Duktape we're using their `debug-trans-socket/duk_trans_socket_unix.c` implementation with a little hack for preventing SIGPIPE issues. Their implementation seems to refer to itself as not production quality, so the task here is to revisit this debugger transport

[2020-06-16 14:30] nick-thompson opened #64 "Distinguish Errors and Fatal Errors"
Sparked from conversation in PR #61: https://github.com/nick-thompson/blueprint/pull/61#issuecomment-644797255

In Duktape we have sort of two classes of errors: normal errors from which we can recover the js engine, and fatal errors from which we cannot. A normal error that goes uncaught becomes a fatal error, and so do explicit fatal cases from within Duktape itself. In ReactAppRoot we can catch

[2020-06-16 16:05] JoshMarler commented on #64
Yeah this covers this nicely. Personally I'm for the flag argument to the existing onUnhandledError callback/override.

[2020-06-16 17:54] nick-thompson commented on #64
:+1: I think I lean the same way!

[2020-06-18 13:50] JoshMarler opened #65 "Refine the "Multiple Bundles" story/behaviour"
There are numerous areas of code in `ReactApplicationRoot` and `EcmascriptEngine` which may need to behave differently when blueprint supports the loading/evaluation of multiple bundles, i.e. for polyfill behaviour etc.

In particular, things like error handling and hot-reloading will need careful consideration. If a single bundle causes and evaluation error, does this mean we need to reload all b

[2020-06-19 13:43] nick-thompson commented on #65
:+1: Definitely. Do you think it's fair to move forward for now assuming everything is a single bundle? Until we hit a first concrete case for multiple bundles? I can guess at a few cases where multiple bundles might come in handy, but I can't make any promises that anybody will actually use it :)

[2020-06-19 13:47] JoshMarler commented on #65
Yeah. I've been hitting thoughts/considerations around multiple bundles a lot whilst looking at hot-reload and debug support. It's less pressing now I'm abandoning the idea of not resetting EcmascriptEngine in the event of a reload/error.

I made the BundleWatcher class in ReactApplicationRoot able to handle multiple bundles for the sake of some "forward planning". I think it makes sense to assume

[2020-06-19 13:58] JoshMarler commented on #43
@nick-thompson, having spent a bunch of time around here over the last few days I'd be more than happy to give this a go. Would be great to be able to use capture blocks with the `registerNativeMethod` lambdas and get away from the stash dance.

Let me know if you particularly wanted this one yourself and if not I'd be interested in taking it.

[2020-06-19 13:59] JoshMarler commented on #43
Presumably we can kill of this when done: https://github.com/nick-thompson/blueprint/issues/29

[2020-06-22 11:52] JoshMarler opened #66 "Provide data/event flow examples and facilities"
Currently `ReactApplicationRoot` and `EcmascriptEngine` support pushing events from native/C++ code into JS/React via the `dispatchEvent` mechanism.

`dispatchEvent` is a function registered/created against the global `__BlueprintNative__` object by EventBridge.js.

It seems that a lot of apps and client code would benefit from a generic "event based" framework or pattern to communicate between C+

[2020-06-23 19:50] JoshMarler commented on #66
@nick-thompson, in the middle of implementing two-way event dispatch at the moment as a test so I can open up a PR if you like the sound of this idea?

[2020-06-24 10:34] JoshMarler commented on #66
@nick-thompson, FYI I've got this working locally and so far seems pretty  good.

[2020-06-24 12:55] JoshMarler commented on #50
@nick-thompson, this might be worth looking into now that we have debugging support enabled. Suspect mac will be the easiest platform to investigate on as Windows can be a bit of a faff at the moment.

[2020-06-24 13:34] nick-thompson commented on #50
Yea this is my number 1 priority once debugging is in. I suspect it'll be relatively easy to spot under a debugger :). Just about to merge your PR there too, hopefully I can find some time to look at this over the weekend

[2020-06-24 13:36] JoshMarler commented on #50
@nick-thompson, cool. If you want to farm it off give me a shout and I'll try to take a look. Will leave with you for the meantime.

[2020-06-26 00:31] nick-thompson commented on #50
:+1: I've got a little time tonight to take a crack at it. I'll report back and probably hand it off to you if I don't make it anywhere :)

[2020-06-26 01:08] nick-thompson commented on #50
Ok, got it, thanks to the debugger!

The `package.json` that we provide in the js template for new projects marks dependency versions with `^x.y.z`, which means that `npm` can satisfy them with anything newer than that version. Somewhere in the dependency tree, something updated and that update gets pulled in for new projects, introducing an `Array.from` call in the main code path, and Duktape doe

[2020-06-26 01:27] nick-thompson commented on #50
Fixed in d68987d5bd7fc36f339e826de7b6c9efd53aeee5

[2020-06-26 01:27] #50 closed

[2020-06-26 01:52] nick-thompson commented on #66
Hmmm a lot to think about here, thanks for starting the conversation @JoshMarler.

I think that's exactly the right place to start. I suppose my initial stance is that Blueprint itself shouldn't take a stance on data flow patterns, because every app is different and everbody has their own opinions on data flow patterns. In React you see a ton of Flux/Redux, but there are plenty of people who prefe

[2020-06-26 07:17] JoshMarler commented on #66
Hey Nick,

Thanks for the discussion. Yep fair enough, I think I agree. I'd be really pleased just to see the two way pub sub mechanism there. I have that working at the moment but it's just a bare bones implementation for me to leverage. I'll think about the API some more today and maybe do the usual "open up a PR for Nick to fix :-)"

 I've been down the redux route a couple of times in the past

[2020-06-26 07:21] JoshMarler commented on #50
Awesome! Nice one. Glad the debugger provided some value! Did you hit any issues with it ?

[2020-06-26 12:33] nick-thompson commented on #50
I tried it out using the Duktape-provided web debugger, which admittedly leaves a lot to be desired, but I didn't yet get vscode set up to try it. Still, the only real issue was that this error happens on the first bundle eval, so I needed to CMD+D, then attach, then get the bundle to reload (which I did be rerunning `npm start`) but definitely that makes a nice case for a CMD+R reload the current

[2020-06-26 13:12] nick-thompson commented on #66
Yea same, I think the two-way pub sub is definitely the right move. Please do share some code when you have it! I'll spend some time thinking on the API myself as well. I feel like it could really be quite simple

Definitely. I'm personally not a huge fan of redux, but so many people are. I often write an as-minimal-as-possible Flux pattern (as in the GainPlugin example) for my state management fo

[2020-06-26 14:23] JoshMarler commented on #50
Ahh OK fair enough. Yeah cool. Tell you what. I'll drop you a CMD+R reload over the weekend if I can!

[2020-06-26 14:30] JoshMarler commented on #66
@nick-thompson, Yes! Totally. The extras module sounds like a great place for a ValueTreeSynchronizer. I'm literally working on things like this right now.

I've got a very simple two way EventBridge in js which is working just fine but needs a littler more thought. I'm experimenting with the dispatchEvent interface at the moment so I'll have something to send over soon. I'm also building some JS

[2020-06-26 15:07] nick-thompson commented on #50
Ah that'd be awesome, thanks!

[2020-06-30 12:08] JoshMarler opened #69 "Arrow function class props (Can we use babel-plugin-transform-class-properties)."
There is a lot of manual binding of `this` in Blueprint component constructor examples at the moment. Is there some reason for not using `babel-plugin-transform-class-properties` ? i.e. does duktape object?

Would this be a worthwhile addition to allow arrow function properties on components and avoid some boiler plate if desired?

[2020-06-30 14:21] nick-thompson commented on #69
Yea, definitely can add this! Honestly I just haven't tried it yet, but I bet via babel we'd get JS that duktape is fine with

[2020-06-30 14:24] JoshMarler commented on #69
Cool Cool!

I'll give it a go today and let you know. Can drop a PR adding it to the templates etc.

[2020-07-02 11:38] JoshMarler opened #70 "Add some more core components."
@nick-thompson,

I find myself at the point where I'll soon need to build the below core components. Are these something that should be a part of Blueprint/Blueprint-Extras?  A modal/dialog component feels like it may well belong in the core Blueprint library.

**Modal/Dialog**
https://reactnative.dev/docs/modal
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dialog
https://docs.juce.com

[2020-07-03 09:09] JoshMarler commented on #70
@nick-thompson I'd be more than happy to tackle some of this by the way! My main interest is which of these things should or should not be part of Blueprint "core".

[2020-07-03 17:24] nick-thompson commented on #70
Totally, great idea. TextInput should definitely be core, as it requires a custom native view. Both Modal and Picker could be built by compositions of View/Image/Text and so would require no custom native. This boundary (whether or not an implementation of a new view would require custom native code) has been more or less where I want to draw the line between core and non-core components (as well

[2020-07-06 16:30] nick-thompson commented on #34
Thinking about this again the past few days. When I think about the React ecosystem, there's a pretty consistent naming pattern for rendering backends: `react-dom`, `react-native`, `react-art`, `react-native-desktop`, `react-native-windows`, `proton-native`, etc.

In truth, Blueprint is just another rendering backend, it just happens to target native C++/JUCE to provide a react-based approach to w

[2020-07-06 17:03] nick-thompson commented on #70
After sleeping on this a bit, I think I'm actually more in agreement with your intuition @JoshMarler than I am with what I said above.

I do think it's worth maintaining clarity around this boundary of what components need custom native code and what components don't. In a sense, I think those components that strictly need custom native are the core building blocks, and ideally we can define the m

[2020-07-07 13:13] JoshMarler commented on #70
Hey @nick-thompson!

Sorry, been quiet on the Blueprint front for a couple days.

So, I totally agree that the more complex components should be build up from the "core" views/components, that does indeed sound like a great battle test of the core APIs.

I do think there is some value in having some generic UI components that people are likely to require in `blueprint_core` but I suppose that depe

[2020-07-07 14:50] JoshMarler commented on #34
Heh. Yeah, tricky one.

Is there a real desire to support targets other than JUCE? I really like `react-juce` and that would have been my (pretty obvious) suggestion also.

Depends on where you want to draw the line with this framework I guess. Will Blueprint (or whatever it becomes) ever want to go beyond JUCE? If the purpose of the framework is something along the lines of "React based UI's for

[2020-07-07 17:17] nick-thompson commented on #34
Good question :)

In the short term, yea we'll be pretty much exclusively targeting JUCE, and if we're successful with this project it will in large part be due to seamless compatibility with JUCE. But in the long term, the path to supporting another backend system like iPlug2 I think is actually quite feasible, so my gut feeling is to stay open to that possibility.

For example, I could imagine s

[2020-07-07 17:22] JoshMarler commented on #34
Nope. Can't argue with that Nick, writing a browser based UI for the world of WebAssembly/WebAudio/SOUL and the like is certainly compelling. Who knows what the future will bring.

With that in mind .... What about react-xpaudio ?

Feels more explicit than xpa ?

[2020-07-08 12:08] JoshMarler commented on #70
@nick-thompson, I have a related question which might make sense to add here.

So I'm currently working on out data-models for our React/Blueprint based components. We have data model properties/objects which use interfaces very similar to `juce::AudioProcessorParameter`.

As such I've been writing things like `ParamSlider` as discussed which wrap a basic `Slider` component an augment it by having

[2020-07-08 13:56] nick-thompson commented on #70
Yea after my latest post, I totally agree. The list I put together up there I think can all be included in blueprint core, with only the "basic components" requiring any custom native part. `blueprint_extras`, as I see it, would be the home for any js or native components that are tightly tied to JUCE internals, and I'll elaborate on that below

Yea `ListView` is probably a good one, and a tricky

[2020-07-08 14:04] JoshMarler commented on #70
<ToggleButton I've thought about– it seems like a simple wrapper on a Button so I'm tempted to just let people roll it themselves. Especially when people's ideas of what a toggled state looks like (is it a checked box? is it a filled circle?) and what a non-toggled state looks like varies so drastically.

I'd say that's fair enough, I wasn't thinking so much that we would dictate the painting of a

[2020-07-08 14:06] JoshMarler commented on #70
@nick-thompson, with all this in mind, should we start an issue for "Start/Create the extras module" ? Would be good to track that and maybe detail who you think it should interoperate with Blueprint core. i.e. is one thing a submodule of the other, how should examples using core v.s. extras components be presented in the docs etc. etc.

[2020-07-08 14:11] nick-thompson commented on #70
Hmm right, this gets into the territory about data flow / state management and trying not to be too prescriptive. In the GainPlugin example, I dispatch the kind of state you're talking about (param names and ranges) as an event from native into js-land and hang onto it in the ParameterValueStore, but I see the appeal for being able to just call native methods. Maybe part of `blueprint_extras` is a

[2020-07-08 14:13] nick-thompson commented on #70
@JoshMarler yea, definitely. I'll go ahead and start some new issues now. If I have time too I'll try to start organizing labels and such so that we can track getting to a beta release

[2020-07-08 14:14] JoshMarler commented on #70
This is literally the exact design I had in mind heh. A generic object/function to register those native methods regardless of the component type hosting the `ReactApplicationRoot` instance. Totally agree.

[2020-07-08 14:31] nick-thompson commented on #34
Yea I like that, `react-xpaudio`. I've had that exact same thought about the js audio layer implication.. maybe it's no problem?

[2020-07-08 14:33] JoshMarler commented on #34
I rather like the name `react-xpaudio`. For me it's no issue .... heh. Big red disclaimer in the API docs?

[2020-07-08 14:37] nick-thompson commented on #34
I'm with you on that! Let's let this sit for a few days in case anybody else sees this thread and wants to chime in.

After that, we'll use this issue to track the work that needs to be done to carry out the rename 🚀

[2020-07-08 15:00] nick-thompson commented on #53
Picking this back up after a great convo in #70

Structurally, I imagine this work residing in two places: on the native side, we'll create a new JUCE Module, `blueprint_extras` right next to the `blueprint` module at the top level of this repo. This module should have a dependency on the core `blueprint` module. Next, we'll have the javascript side in a new package next to `packages/juce-blueprin

[2020-07-08 15:09] nick-thompson commented on #70
Ok see #53 for tracking the part of the discussion here that relates to `blueprint_extras`.

Re-focusing this issue here to track those components which will be part of blueprint core. I'll paste the same list from above with some quick additions:

**Basic Components** (Requiring custom native)
* View (Done?)
* Image (#14)
* Text  (#6)
* TextInput (#21)
* ScrollView (Done?)
* Canvas (#48)
* Animat

[2020-07-08 15:17] JoshMarler commented on #70
@nick-thompson, I think I agree with the list.

Couple points:

What is the distinction between `Slider` and `Knob` here ?

Personally I'd say if `Slider` is in core `Picker` / `ComboBox` feels perfectly valid, it's a thing I'd reach for often.

Yeah seems totally reasonable to me, you want people to be able to get up and going with `blueprint` / `react-xpaudio` with ease I would say. That's likel

[2020-07-08 15:19] JoshMarler commented on #53
@nick-thompson, think this captures the scope of the issue perfectly.

Also worth noting if it's not clear from the link that we may add a couple more exotic components to the `extras` module like `FrequencyResponsePlot` or `WaveformPlot` etc.

[2020-07-08 15:21] nick-thompson commented on #70
:+1:

Good point– if you can just supply your own `onDraw` to `Slider` to overwrite the default `onDraw`, then there really is no difference. Let's drop the `Knob` from that list. We'll provide a `Slider` and if users want to draw that as a knob they can just provide an `onDraw` for that, and if they want linear/horizontal slider customizations, same thing.

Ok cool, let's go for it.

I'll update

[2020-07-08 15:26] JoshMarler commented on #70
Yeah totally, for instance I've given my `Slider` base component a `sliderStyle` prop which is basically an enum on linear, linear-horizontal and rotary. That prop is passed through to the user supplied `drawSlider`/`onDraw` callback.

Quick in-progress example (I need to give these components more love, concentrating on data-model binding at the moment):

[code]

[2020-07-08 15:52] nick-thompson opened #71 "ListView Component"
See #70

This task is to track the implementation of a `ListView` component, similar to React Native's [FlatList](https://reactnative.dev/docs/flatlist). In particular I'm interested in providing a `ListView` implementation that can handle rendering large lists efficiently by only rendering visible content and not allocating thousands of `blueprint::View`'s that are not shown. I anticipate this in

[2020-07-08 15:54] nick-thompson opened #72 "Modal Component"
See #70

This task is for tracking a Modal component as part of the core blueprint component library. I think the Modal can largely be just a View with `position: absolute` and a high z-index. Long term I have some thoughts for how to get fancy but initially I think we should KISS

[2020-07-08 15:58] nick-thompson opened #73 "Button Component"
See #70

This one's quite simple: just a `<Button>` as part of the core blueprint component library. My gut is to do this just with a `View`, some styles, and an onClick callback, but @JoshMarler had an approach using a Canvas underneath for totally custom drawing which I'm curious about. Let's move that discussion here

[2020-07-08 15:59] nick-thompson opened #74 "Slider Component"
See #70

A `<Slider>` component for the core blueprint component library. See @JoshMarler's comment here: https://github.com/nick-thompson/blueprint/issues/70#issuecomment-655589766 for the direction we want to go with this to allow maximum flexibility for the end user

[2020-07-08 16:03] nick-thompson opened #75 "Picker Component"
See #70

This task tracks adding a `<Picker>` component to the core blueprint component library, quite like JUCE's ComboBox. I think the API we should aim for here is something similar to HTML's `select`: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/select. Seems to offer the most room for user-facing flexibility. We could write the `Picker` such that it clones all of its `<Option>` c

[2020-07-18 08:55] betterthanclay opened #77 "Property 'assign' does not exist on type 'ObjectConstructor'"
I'm just running through the getting started guide but am unable to build the JS library by default with the following error:

[code]

The assign() call signature used above is an ES6 feature but you're currently targeting ES5. Switching the target in your tsconfig.json file to "es6" allows the project to compile fully.
Info here - https://stackoverflow.com/a/36304926

The npm output also includes

[2020-07-18 16:22] JoshMarler commented on #31
Hey @nick-thompson !

I'm just starting to look into this as I need a horizontal Expander/Accordion component which expands and shows some content in response to a button click event etc.

So, it seems like just wrapping `juce::ComponentAnimator` in a `blueprint::AnimateView` or similar would be reasonably straight forward. However I'm curious about your ideas and obviously would like to contribut

[2020-07-18 16:39] JoshMarler commented on #31
This also looks like a relevant bit of API inspiration: https://reactnative.dev/docs/layoutanimation

[2020-07-19 15:41] nick-thompson commented on #31
Awesome, yea, happy to kick this convo off! I think this would be a really fun component to have.

I've studied the RN APIs quite a bit already as I've thought about this task. I have a couple high level thoughts and I actually also have a branch I started months ago that has this mostly working. I'll push the branch up just for discussion's sake in a minute.

So first off, yea, you're totally rig

[2020-07-19 15:53] nick-thompson commented on #31
Ok here we go: https://github.com/nick-thompson/blueprint/compare/feature/animatedviewscratch?expand=1

Also, I found in that code the reason why we might want to roll our own animator! See the big `TODO` inline in the code... now that we have the `CanvasView` I think this could be quite important (each time `paint()` is called you would want to make sure that the width/height you got in `onMeasur

[2020-07-19 15:55] nick-thompson commented on #77
Ah oops, thank you for the report! I'm new to typescript, apologies for the hiccup there. I'll get that fixed ASAP

[2020-07-19 16:41] nick-thompson commented on #77
Fixed in f76601e527fffb85c9893dcd098326fdc6a77b6d. Thanks!

[2020-07-19 16:41] #77 closed

[2020-07-19 19:34] JoshMarler commented on #31
Awesome thanks Nick. I'll pull down that branch and have a play, wondering if you could add a component listener to view instance inside flushLayout and call setFloatBounds in response to size/positions changes triggered by the animator or something.

I'm just spitballing whilst on a walk reading this on my phone though so I'll take a concentrated look in the morning and drop you a PR if I get any

[2020-07-19 19:41] JoshMarler commented on #31
The "Animated Value" stuff is a super interesting idea and I'd love to help investigate. It'd be so awesome for Blueprint to bring a concrete animation approach to juce, it's one area in juce's GUI offerings that is a little lacking.

[2020-07-20 07:07] betterthanclay commented on #77
Thanks Nick, no worries, there are _plenty_ of gotchas with JS + TS in this context, easy one to miss.
The project is looking great and doing some really useful stuff - I'm looking to use it on a couple of different things that I'm going to be working on over the next few months, I'll see if I can offer anything useful into the mix if I can.

[2020-07-20 11:52] nick-thompson commented on #77
Awesome, that would be great!

[2020-07-20 12:07] nick-thompson commented on #31
Yea, totally agree! I'm highly confident in our layout animation. I'm curious what sorts of animations people would be interested in other than layout (do you have a specific case already?). I say that because my gut feeling is to add the `AnimatedView` for layout animation now, and then tackle the `AnimatedValue` super slowly afterwards to make sure we're thoughtful about it. I anticipate a gener

[2020-07-20 12:14] JoshMarler commented on #31
Yeah awesome I figured we should be able to add a listener and then dispatch the changes to setFloat kinds somehow. Nice one. Shout if you want me to take anything on that one. Have a few PRs to drop over this week.

Totally agreed on AnimatedValue concepts. I'll get some noted together on some of the things I expect to need in future and maybe we can start a new issue just to open the discussion.

[2020-07-20 12:41] nick-thompson commented on #31
Awesome, thanks.

So I just set out to fix up my branch and noticed two things, curious to hear your thoughts on it:

1) So the `juce::ComponentAnimator` _does_ implement a ChangeBroadcaster, and emits a change on every animation frame, but there's no way to query the animator for what the _current_ bounds of the target component are. We can query the `view` itself in the change callback, but the

[2020-07-20 12:46] nick-thompson opened #79 "Hot Reload Hang on MacOS"
I'm finding that during a hot reload on MacOS, Xcode just hangs in a permanent loop and the project freezes.

Dropping the debugger in shows that we're stuck in the Duktape finalizer callstack searching through the `lambdaReleasePool`, but it seems like there are a million things to be finalized. It looks like there indeed might be a bug with the lambdaReleasePool, because it's huge, but I'm not s

[2020-07-20 12:51] JoshMarler commented on #79
Interesting, I have seen this previously when the "animate" prop was set on the canvas element. The clearing of the duk context and pool on a reload appeared to resolve the issues I was seeing but I'm not using animated draws. I'll be back at me desk shortly so I'll fire this up on Mac and take a look.

[2020-07-20 16:08] JoshMarler commented on #31
Hey @nick-thompson,

Hmm yeah, so with any juce based listener pattern there we're going to get rounding errors when trying to call `setFloatBounds`, I hear ya. Yuk. The `juce::ComponentAnimator` implementation looks like it handles a few little edge-cases etc. Maybe we can rip some of it off and benefit from jules's wisdom? Take the good old copy-paste inheritance design-pattern (My old man start

[2020-07-21 12:24] nick-thompson commented on #31
Yea, I think I'm with you on all fronts. I'm quite intruiged by this one, I'll have a crack at it now for a bit. If you need it sooner or if I get stuck I'll probably try to hand it off to you :)

[2020-07-21 13:02] JoshMarler commented on #31
Yeah awesome! No worries. I shall continue with me other little PR's. Thought I might drop you a few fixes for some other open issues anyways.

[2020-07-21 13:09] nick-thompson commented on #79
Ahh right, you mentioned those fixes before. Yea, they sound like a good idea to me.

I just noticed that I can accelerate the lock up by resizing the window a bunch in gain plugin. Just making note of that here

[2020-07-21 13:14] JoshMarler commented on #79
Yeah. I seem to remember it appeared to be mostly antagonised by the `animate` functionality on `CanvasView` but I'll have to take another look. Does seem there might be some little lurking thing between the release pool and duktape. I think the exponential growth of the pool existed from the first Canvas prototype but if I've introduced something mad apologies!

I'm just on separate thing at the

[2020-07-21 13:34] nick-thompson commented on #79
Yea, I think you're right.  I don't think it was something you introduced, I think the finalizer stuff I wrote is probably buggy and not always removing lambdas correctly. If you have time I would definitely appreciate the look! I'll try to put some time into it later this week as well

[2020-07-21 13:35] JoshMarler commented on #79
Yeah no worries. I'll take a look today/tomorrow for sure.

[2020-07-21 13:38] nick-thompson commented on #31
Ok check this out, this is my new approach: https://github.com/nick-thompson/blueprint/compare/feature/animation-again?expand=1

Basically, in order to recursively animate view children, we can't rely on a new shadow view. We need any old shadow view to be told "you gotta animate now." So I added a little hook to the `flushViewLayout` in the default ShadowView that checks for an `animated` prop _o

[2020-07-21 13:40] nick-thompson commented on #79
:D Yea, this might be a gnarly one. Thank you!

[2020-07-21 13:53] JoshMarler commented on #31
@nick-thompson, This is really cool! I really love the way you've solved recursively animating the children there.

So I have a couple initial thoughts.

1. Would `layoutAnimated` or `animateLayout` be a better prop name for the containing `View` just to avoid confusion with any future APIs etc. ?

2. It would be nice to be able to pass some basic arguments (maybe via some `config` object) to `lay

[2020-07-21 14:45] nick-thompson commented on #31
Awesome, glad you like it.

To your feedback– yea, all of it! I like the idea of using an object as the prop value, and with a prop name that makes sense on its own or with args. For example, in React if you type `<View layoutAnimated>` it's equivalent to writing `<View layoutAnimated={true}>`. I think it might be cool to use that approach if you want the defaults, or supply an object if you want

[2020-07-21 15:05] JoshMarler commented on #31
@nick-thompson, yeah awesome I agree with all of that. No strong opinion on the prop name other than `animated` feels like it could make the API a little confusing. `layoutAnimated` seems perfectly good to me.

[2020-07-21 21:35] JoshMarler commented on #53
@nick-thompson

I've just about got an initial set of base components together and I'm working on fleshing out the ParameterValueStore/AudioProcessorValueTreeState stuff.

It'd be cool to get this "extras" package going soon. Noticed you'd gotten a bit of interest on the forum again etc.

Just to clarify, are we thinking add the new module and packages directly to this repo ? I.e.no need to got su

[2020-07-22 10:32] JoshMarler opened #80 "ReactApplicationRoot::dispatchEvent add juce::NativeFunctionArgs or std::vector<juce::var> overload"
@nick-thompson,

I'm hitting a case in my current project where it would be useful to have a `ReactApplicationRoot::dispatchEvent` overload which takes a dynamic set of "runtime" arguments. Currently `dispatchit's a parameter pack

Now, it's arguable that this is a code-smell/result of my data-model design. What do you think, would you say some interface along the lines of the below would be valua

[2020-07-22 12:54] nick-thompson commented on #53
Awesome. Yea people are asking for it :)

Yea, I think that makes sense for now. No need to complicate the workflow with more submodules or anything before it becomes necessary.

[2020-07-22 12:58] JoshMarler commented on #53
Awesome. I'll aim to get you a PR over for the weekend. Has Button, ToggleButton, Slider and possibly Picker as a start Then wrappers like ParamButton, ParamSlider etc.

Hopefully we can chat over the base component approaches. At the moment I quite like a Canvas approach with drawFunction props and default implementations of those draw functions of no override provided. Has worked really well in

[2020-07-22 13:03] nick-thompson commented on #80
Hmm I think that brings up an interesting question, what would you expect the arguments on the javascript side to look like given a function signature like that on the native side? For example, if I call the `ReactApplicationRoot::dispatchEvent(const juce::String &eventType, const std::vector<juce::var> &args)`, should I expect my event callback in javascript to receive a single array-type argumen

[2020-07-22 13:27] JoshMarler commented on #80
That's very true I could indeed use a juce::Array .... hmmm.

I guess I was thinking of it as a direct entry point to this overload:

`juce::var EcmascriptEngine::invoke (const juce::String& name, const std::vector<juce::var>& vargs)`

i.e. each arg from the vector passed to `ReactApplicationRoot::dispatchEvent` would be passed through individually and if `args[0]` is a `juce::var` constructed fro

[2020-07-22 13:40] nick-thompson commented on #80
Oh, of course. I forgot we had distinctions for this in `EcmascriptEngine`.

I'm realizing now, I think we should rename those overloads in EcmascriptEngine. The parameter pack should be called `call` and the vector should be called `apply`, matching the expected behavior as in javascript itself.

Then, yea, given these overloads I think it makes sense to extend the interface to `dispatchEvent`. I

[2020-07-22 14:00] JoshMarler commented on #80
So with the `apply` approach are we expecting the function signatures in JS to take singular args as per the below example?

[code]

i.e. do we just apply spread operator in EventBridge or something?

If so that sounds good to me and yeah I think a `std::vector<juce::var>` is the nicest interface.

[2020-07-22 14:48] JoshMarler commented on #80
More than happy to tackle this by the way as I could do with it for me interface. Just need to clarify how that `apply` behaviour should work with the `EventBridge`

[2020-07-22 15:17] nick-thompson commented on #80
So `EcmascriptEngine::invoke(const juce::String& name, const std::vector<juce::var>& args);` already implements the equivalent of javascript's `Function.prototype.apply`: it accepts a list of args and unrolls them onto the arg stack in duktape: https://github.com/nick-thompson/blueprint/blob/master/blueprint/core/blueprint_EcmascriptEngine.cpp#L272.

The other `invoke` overload with the parameter

[2020-07-22 15:25] JoshMarler commented on #80
Right. Yep I understand, thanks Nick. Happy for me to have a crack at adding these new signatures then?

[2020-07-22 15:36] nick-thompson commented on #80
Yea, please!

[2020-07-23 09:27] nicochatzi commented on #36
The fix is in `6.0.0`. @nick-thompson are you ok with bumping a major version to close this issue?

[2020-07-23 09:45] JoshMarler commented on #80
@nick-thompson, quick one.

To directly use the `std::vector<juce::var` overload of `engine.invoke` we would need to insert `eventType` at the front of the `args` vector passed in. This feels pretty inefficient for things like timer based updates, i.e. a meter or something.

What do you think is the better approach here? Do we just document that the user needs to supply the `eventType` as the firs

[2020-07-23 10:56] JoshMarler commented on #80
Hmm. After writing that this still all feels a bit clunky ...

[2020-07-23 12:37] JoshMarler commented on #80
There might actually be some value in using `juce::var::NativeFunctionArgs` to avoid some copies as it could allow optimisations in some cases

i.e.

[code]
Some ugliness there with duplication of eventID in the arg pack but I'm still mulling around some designs.

[2020-07-23 12:52] JoshMarler commented on #80
I was also wondering if the vector allocation her gets optimised away or not in all cases:

[code]

I think C++14 does allow it but it's a compiler implementation detail. I wonder whether it would be worth considering:
[code]

[2020-07-23 13:18] nick-thompson commented on #36
Yep, definitely. In conversation with @JoshMarler over the course of a few different PRs we're thinking that moving to JUCE6, C++17, and CMake will generally clean things up quite a bit.

If it's a seamless update from where we are now to 6.0.0 then we can go ahead and do it now. If it's messy, I wonder if it might be worth it to bite off the whole move to CMake at the same time.

@nicochatzi have

[2020-07-23 13:40] nick-thompson commented on #80
Ahh, interesting, didn't think about that.

Ignoring performance optimizations for a minute, what do you think the ideal API here is?

[code]

I guess I'd hesitate to make things too complicated, because C++ feels just kind of unfriendly here. For example, this is still valid with the current API:

[code]

Of course here, on the javascript side, you'll receive your arguments as an array:

[code]

[2020-07-23 13:54] JoshMarler commented on #80
Yeah this is sort of how I thought it would be implemented initially until you made the good point about the whole `Function.apply` like behaviour.

[2020-07-23 13:57] JoshMarler commented on #80
Ooops. I didn't mean to close that!

[2020-07-23 14:49] nick-thompson commented on #80
Yea definitely. The `Function.apply` behavior made more sense before I thougth about prepending the eventType as you mentioned heh.

:+1: I'm with you. I think when we have a solid notion of "feature complete" or at least "feature complete for beta" we'll want to take some time to perf audit. I know for sure we have some low hanging fruit elsewhere, but I could imagine this one showing up in the p

[2020-07-23 15:03] JoshMarler commented on #80
Yeah the approach is fine for the meantime I think. Lets close it. Perf session after beta sounds good to me.

[2020-07-23 15:03] #80 closed

[2020-07-23 15:11] nick-thompson commented on #80
:+1: Sorry to run you around on this!

[2020-07-23 15:13] JoshMarler commented on #80
Not at all! Is great to discuss these things, even if the only useful thing that came out of it was a potential performance improvement!

If anything I'm the one chewing your ear of whilst I experiment with different designs.

[2020-07-28 12:05] JoshMarler commented on #79
Heh. Writing a little level meter component at the minute and getting freezes and terrible performance .... I have a sneaking suspicion this has just bitten me. Into the bug dive I go!

[2020-07-28 12:10] JoshMarler commented on #70
@nick-thompson, I've got some useful components coming together now, Slider, RadioGroup, Button, ToggleButton etc. I've got a few questions around what you think might be an appropriate design pattern for these "basic" components. For example, with the exception of width,height I've found keeping these components "stateless" (i.e. their values are props and they emit a callback) works very well.

[2020-07-28 12:19] JoshMarler commented on #31
Hey @nick-thompson! How's this beast going? Can I assist with anything? No pressure! Just wondered if you'd hit any major stumbling blocks. I'm starting to deal with more of the animated/dynamic components in our app. Planning to start getting a list of performance hot spots together etc.

[2020-07-28 14:35] nick-thompson commented on #79
😁 good luck! I haven't had a chance to dig in yet; hope it's not too gnarly

[2020-07-28 14:37] nick-thompson commented on #70
Great! Yea, I think this is a good spot for the discussion as it's kind of a "design theme" across all these components.

+1 for stateless indeed, and I think width/height makes sense for drawing.

[2020-07-28 14:38] nick-thompson commented on #31
Ah, sorry, I just haven't had a chance yet to wrap it up. I'll try to find some time as soon as I can!

[2020-07-28 14:39] JoshMarler commented on #70
Cool Cool. I'll tidy a bit of stuff up and drop a couple component examples on here and we can discuss.

[2020-07-28 14:39] JoshMarler commented on #31
No probs! Was curious to hear if you'd hit some horrible trap as I'm poking around with similar things.

[2020-07-29 14:39] JoshMarler commented on #79
Looking through this at the moment. At a first pass, it almost looks like there is a significant lag in the call the the finalizers. From Duktape docs:

"Finalizers are executed for unreachable objects detected by reference counting or mark-and-sweep. The finalizer may not execute immediately, however, not even when reference counting detects that the object became unreachable."

I wonder if it li

[2020-07-29 14:41] JoshMarler commented on #79
Also worth noting:

[2020-07-29 15:59] JoshMarler commented on #79
Based on look under the debugger it does look like the rate at which we push lambdas into the pool when painting on a timer is far higher than the rate of GC. We push enough in there for the loops over the pool to significantly block the UI thread.

A first experiment might be trying a different data-structure for the pool to increase the lookup times. unordered_set of pointers might be worth a tr

[2020-07-29 16:18] JoshMarler commented on #79
So yeah, a quick hack switching to `std::unordered_set<LambdaHelper*>` resolves the freeze. Obviously this sort of approach would need some tidying. We could add a key to LambdaHelper using a static counter and use unordered_map with that key to avoid lifetime traps.

I might think about this more though and workout if anything nicer can be done. That's a lot of small allocations and deallocations

[2020-07-29 21:04] JoshMarler commented on #79
Might also be interesting to manually call duk_gc after invoking the lambdas here.

https://github.com/svaarala/duktape/issues/1550

I wonder if the "light function" concept is also worth some investigation to avoid creating JS function objects in some cases which appear to require periodic garbage collection to destroy rather than being immediately released via ref counting. I need to read into t

[2020-07-29 21:40] JoshMarler commented on #79
Also interesting: https://github.com/svaarala/duktape/issues/1872

[2020-07-30 00:51] JoshMarler commented on #79
OK after tidying a little using unordered_set performance isn't so bad...

[2020-07-30 01:41] JoshMarler commented on #79
I'd be interested to look into light funcs for this still. `LamdaHelper::invokeFromDukContext` is static so can reasonably delete the LambdaHelper object once it's `callback` has been invoked. This could help move away from the finalizer and release pool approach. I don't think there are any major disadvantages to using light funcs in this context? What do you think @nick-thompson ? Is this a wort

[2020-07-30 09:08] JoshMarler commented on #79
I'm wondering whether we can avoid pushing a new canvas context object to the duk stack for every single invocation and if we can instead store a canvas context object permanently in the global namespace or similar ...

[2020-07-30 10:58] JoshMarler commented on #79
Ahh OK. The freeze is much improved in the gain example but there are still occasional lags ...

[2020-07-30 14:16] JoshMarler commented on #79
Sorry I'm spamming you a bit but I've been profiling so I'll register findings here.

. Rendering text via strokeText and fillText on the canvas object is currently a hotspot. Removing that made a fair amount of difference. I've got some text overlaid on this meter. I should probably have two components with one using a higher z-order, I'm not sure how z-order is intended to be controlled via comp

[2020-07-30 15:06] JoshMarler commented on #79
OK ... I'm clearly also redrawing way too many things when I should just be drawing my meter ... some prop/state lifecycle thing happening I'm yet to catch/grasp.

[2020-07-30 16:09] nick-thompson commented on #79
@JoshMarler you're the man, this is so awesome. I'll try to address everything in a few high level thoughts, to start:

1. Yep, I'm down for `unordered_set`, that's a good calll
2. Yes indeed! #5
5. I'd be curious to see a before/after profile of how much we get from that. If it's really significant, I'm interested
6. I didn't know about these, but I'm very interested to have them in the docs or i

[2020-07-30 16:17] JoshMarler commented on #79
@nick-thompson,

No Problem! It's been massively valuable to dig into this. I found the causes for my wasted reconciles. Indeed, I reckon the `PureComponent` idea might be worth spattering around my code base to assist when others make similar mistakes etc.

The idea around CanvasContext is interesting, I totally agree. I wondered about the whole "light function" thing and whether that is some we

[2020-07-31 10:17] JoshMarler commented on #79
@nick-thompson, PR with fix for the freeze here: https://github.com/nick-thompson/blueprint/pull/81

[2020-07-31 11:04] JoshMarler commented on #69
@nick-thompson, just switched this on in the gain example and all looks good. Nice to get away from all that manual binding. What would you prefer in the example code though?

I can change all the components in the `GainPlugin` example to use the arrow function approach if desired. We're on babel 7 so it's the "plugin-proposal-class-properties" package. I can add it to the template etc.

[2020-07-31 11:12] JoshMarler commented on #69
I'm still learning JS ins and outs to some extent so I'm not sure what is preferred here.

https://medium.com/@charpeni/arrow-functions-in-class-properties-might-not-be-as-great-as-we-think-3b3551c440b1

Are arrow function members worth it!?

[2020-07-31 11:13] JoshMarler commented on #69
The plugin is still probably useful for other purposes I guess.

[2020-07-31 15:17] nick-thompson commented on #69
Thanks @JoshMarler. I just merged the PR, I think it's a useful add. I like the arrow function class members because the manual binding is obviously a pain.

I don't put much stock in that article for two reasons: (1) mockability and inheritance are both big players only in the classic OO world. Personally I try to avoid both of them as much as I can in my code and lean towards a more functional a

[2020-07-31 15:22] JoshMarler commented on #69
Sounds good to me @nick-thompson ! Cheers (thanks for the useful know how)

[2020-07-31 15:25] #69 closed

[2020-07-31 15:53] nick-thompson commented on #79
Ahh yea sorry, I skipped right over the `z-order` question. So `z-order` is already sort of implemented based on literally the order of react children:

[code]

Implementing a proper `z-index` property implementation is on the TODO list, and should be quite straightforward: by default we continue with the default z-order behavior (based on the order of the children in the parent), but allow a `z-i

[2020-07-31 17:35] #79 closed

[2020-08-03 08:39] JoshMarler opened #84 "Improve Color Strings Support"
@nick-thompson, See the below TODO from the GainPlugin example:

[code]

It would be great to refine Blueprint's color handling behaviours. I think you had a library in mind for this? I'd be happy to investigate if you can point me in the direction of what you wanted to use.

[2020-08-04 13:55] nick-thompson commented on #84
Yep! Definitely want this in, and I think it can be quite simple. I intend to do this on the javascript side, where in the `BlueprintBackend` we check "is the user setting a color-related property?" -> if so, transform the property value string from any arbitrar color format to JUCE's format. For example

[code]

That property update will trickle through to here: https://github.com/nick-thompson/b

[2020-08-04 15:58] JoshMarler commented on #84
Right cool, interesting!

Thanks for the discussion @nick-thompson. Would you be happy for me to have a poke at this one or is this something you particularly want to play with yourself? Suspect I'll have to do a little research but I'm up for it.

[2020-08-04 16:17] nick-thompson commented on #84
Definitely, go for it! I think gradients will be the trickiest part; I'm very open to suggestions on that :). I think it'd be awesome to get that in in a generic way

[2020-08-14 10:50] JoshMarler commented on #53
@nick-thompson, I realise I've still not dropped this across. Mainly because I've been refining various things after more experience building out a UI with these core components.

I'm starting to look at moving the `basic-components` folder from my current React/Blueprint app into Blueprint.

Very quick question, organisation wise, where should Blueprint's core components live? `juce-blueprint/esm

[2020-08-14 14:34] nick-thompson commented on #53
Great! Yea let's move to #70 but I'll answer here briefly:

Yep sounds good to me.

Agreed, thanks! I think we'll have to strike the right balance with typescript right now. Things will still be changing fast enough that I don't want to go all in on it yet, plus I think we have some work to do on first-time-user experience still

Yea interesting. I think it'd be helpful to see the code; I could im

[2020-08-15 00:36] nick-thompson commented on #70
Ah, yea, I like that. I'd say we start there.

If I understand right, I think we could even skip the `SvgButton`, because it should be just a simple composition of existing components:

[code]

Of course the spefics of what an icon inside of a button should look like are part of the design language, and in my experience it can be different project to project, so this kind of abstraction I think ma

[2020-08-18 13:23] JoshMarler commented on #14
@nick-thompson, You game for me to have a crack at this? Following a URI pattern seems like it shouldn't be too hard. If it's a file path like URI load via file system, if it's URL follow a different model. Can start with file path and go from there.

Binary assets seem like they should be reasonably straight forward too. Maybe go for local URI's first and then support remote file loading as secon

[2020-08-18 22:32] nick-thompson commented on #14
Definitely! Yea, let's go for local first and defer remote. So first step, then, is supporting `data:`, `file:`, and a custom `bindat:`? Or maybe just start with `data:` and `file:`.

`data:` should roughly match the Data URL spec https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/Data_URIs, and will have to edit the GainPlugin example to adapt the way it currently sends svg strings

[2020-08-20 15:37] JoshMarler commented on #41
@nick-thompson, I think this should probably closed and we should create a new JUCE 6 CMake issue. Compiling to a static lib with juce isn't going to be a great option. Should have thought on that one a little more!

[2020-08-20 15:38] #41 closed

[2020-08-20 15:38] JoshMarler opened #91 "Support JUCE 6 CMake builds"
We should investigate what needs to be done to better support JUCE 6 and the new cmake builds system.

[2020-08-23 06:21] colshacol opened #93 "API Documentation"
I see that the API docs say they are a WIP, but they are absolutely critical! Although I am no C/C++ developer, I can read a lot of the code and would like to potentially assist in helping with this documentation if you could point me in the right direction to find APIs that are exposed to the JS runtime.

I’d like to find out where the events provided by EventBridge are implemented and focus on d

[2020-08-23 17:58] nick-thompson commented on #64
Resolved in e3d5057

[2020-08-23 17:58] #64 closed

[2020-08-23 17:58] nick-thompson commented on #29
Resolved in e3d5057

[2020-08-23 17:58] #29 closed

[2020-08-23 17:58] nick-thompson commented on #43
Resolved in e3d5057

[2020-08-23 17:58] #43 closed

[2020-08-23 20:38] nick-thompson commented on #93
Okay, happy to report that I've got a better documentation system going!

The docs site is live here: https://nick-thompson.github.io/blueprint/#/
And it's all served via Docsify from within the `docs/` folder in the root of the repository.

I'll do my best to keep updating it, but I'll also very happily welcome your help if you're interested :)

[2020-08-23 20:39] nick-thompson commented on #12
Writing back to report that documentation has now been moved into the repository at `docs/`, built with Docsify, and hosted at https://nick-thompson.github.io/blueprint/#/. Should hopefully be a much more fluid process now that documentation changes can be made right in the repo and with pull requests 🙌

[2020-08-23 21:26] JoshMarler commented on #12
@nick-thompson, This is really cool. Hadn't heard of Docsify. Be cool to add the vscode debugger setup stuff to this. Also keen to sort out documentation for the Canvas API implementation etc.

[2020-08-24 11:43] JoshMarler commented on #91
So I've just been using JUCE 6 cmake finally for some of our stuff.

Basically there's very little to do by virtue of blueprint being a juce module. People should pretty much just do the following in their CMakeLists.txt as I understand it:

[code]

I reckon it'd be cool to just add a CMakeLists.txt to the example project. I'll drop something over this eve. That can act as a sanity check to ensure

[2020-08-24 13:07] nick-thompson commented on #12
Totally! I hadn't heard of it either, but it was wiiicked simple to set up, and looks really nice. There's a lot of documentation still to write, hopefully this change makes it easier

[2020-08-24 13:11] nick-thompson commented on #91
Wow, awesome, that all sounds great. I think a toplevel CMakeLists.txt is a great idea, and if we can configure it such that we can build all the example projects easily then I think our continuous integration plan will be dead simple. These are both high on my priority list.

Don't worry too much about the PIP file, it's an "oh that'd be pretty neat" but there are plenty of better things to spend

[2020-08-24 13:16] JoshMarler commented on #91
Yeah awesome. I can set that up easy I reckon. Will have a crack at it tonight.

[2020-08-27 16:05] emurray2 commented on #36
I got the same error when I tried to build the GainPlugin example with Xcode 11.6(11E708) on macOS Catalina 10.15.6 . I replaced the existing folders inside `ext/juce` with the folders from my current JUCE directory. I have JUCE 6.0.1, and I was able to compile and run GainPlugin flawlessly!

Thank you all for the suggestions! I can't wait to learn more about this project and possibly contribute a

[2020-08-28 12:45] nick-thompson commented on #36
:+1: thanks! Definitely, we'll be making the update to juce6 asap.

@emurray2 I'd be happy to get you involved any time!

[2020-08-28 16:47] emurray2 commented on #36
Sounds good! Awesome, I'll keep you updated and take a look at the project tracker to see what I can work on.

[2020-08-30 12:23] discordance commented on #91
Had to add this into my project CMakeList to compile (I installed blueprint as a submodule).

`# look for blueprint headers
target_include_directories(MyProj
    PRIVATE
    ./libs/blueprint/blueprint
    ./libs/blueprint/blueprint/yoga
    ./libs/blueprint/blueprint/duktape/src)`

[2020-08-30 21:43] discordance commented on #73
Following this idea I'm trying to add some fun with:

[code]

Are those ones supported ?

[2020-08-31 12:52] nick-thompson commented on #73
Awesome, love the idea :)

They are unsupported currently, but should be quite trivial to add.

See here for the latest work in view events: https://github.com/nick-thompson/blueprint/pull/95/files

With juce we should be able to just tap into the extra mouse events on [juce::Component](https://docs.juce.com/master/classComponent.html). I'm working on extending the View event logic to be closer to

[2020-09-06 16:53] nick-thompson opened #96 "Handle missing view types with a runtime error"
Right now, when a view type is requested that we don't support, we just hit a `jassert`, which is convenient enough if you're working with blueprint's native code, but in an app like `soul` where you may only be interested in the javascript side of things, that `jassert` is unfriendly.

Better would be to push an error into the js environment so that the user can recover with a hot reload.

See:
h

[2020-09-06 21:49] nick-thompson commented on #96
Hm... realizing we could also just maintain a list of supported view types in the reconciler/backend and if the requested view type is not in that list we can throw right there. Sounds much easier...

[2020-09-08 13:37] nick-thompson opened #97 "Remove native subscribe/unsubscribe hooks"
See discussion here: https://github.com/nick-thompson/blueprint/pull/92#discussion_r475249628

This is follow up work from a previous PR, just cleaning up a now unstable/deprecated API.

[2020-09-08 13:40] nick-thompson opened #98 "SyntheticEvent Pool"
After 2d6c9cfda6144134dd2c477af075dbde8d5f1268 we have a pretty good story for #15, and after studying the ReactDOM implementation of the same thing, I think we definitely will want to follow suit and do some pooling: https://github.com/facebook/react/blob/master/packages/react-dom/src/events/SyntheticEvent.js#L45

[2020-09-15 09:56] julianstorer opened #103 "Could D.R.Y a lot of code with a few helper functions"
Hey folks, been noticing a lot of this kind of code, faffing around with juce::var::NativeFunctionArgs objects:

https://github.com/nick-thompson/blueprint/blob/2d6c9cfda6144134dd2c477af075dbde8d5f1268/blueprint/core/blueprint_CanvasView.h#L121

When I had to do a few of these lambda bindings, I wrote some helper functions:

https://github.com/soul-lang/SOUL/blob/7b8000930b43d387456e94d806931bfc5f

[2020-09-15 12:56] JoshMarler commented on #103
Yeah nice. Noticed these looking through the new soul stuff the other day. @nick-thompson, happy to look at refactoring this stuff at some point if you don't have the bandwidth right now

[2020-09-15 15:09] julianstorer commented on #103
Yeah, I'm too busy to do it, I'll leave it as an "exercise for the reader" :)

[2020-09-15 18:15] nick-thompson commented on #103
Definitely, yea, I saw that when I first liked over that SOUL commit. Very clean

@JoshMarler that would be amazing, thank you!

[2020-09-17 15:52] jrlanglois opened #104 "Add Doxygen+GraphViz Support"
Relates to https://github.com/nick-thompson/blueprint/issues/12

[2020-09-18 16:34] julianstorer opened #105 "Need a workaround for Yoga refusing to build with fastmath"
Hit a bit of a gnarly problem, trying to add blueprint to Waveform.

We build with fast-math enabled. Yoga refuses to work with that.

The messy part here is that it detects the __FASTMATH__ definition in the yoga _headers_, which are included by blueprint.h, and which therefore get pulled into the entire project. A decent workaround would be to disable the fast-math flag for just the blueprint cp

[2020-09-19 07:09] julianstorer commented on #105
..and just another note on just what a pain this is..

Looking for simple workarounds, the code does seem to run OK if you comment-out the yoga check and let it compile with fast-math on. Maybe there are layouts where the maths will go wrong, but it's probably something we could live with.

However, to hack it, this  line need to be removed:

[code]

And because that's in the yoga submodule, the o

[2020-09-20 13:33] julianstorer commented on #105
Ah, hang on, I was getting yoga and duktape mixed up - the problematic check is in duk_config.h, and you seem to be including that directly, not via a submodule, so I can at least hack just my own fork of blueprint to bodge something that will compile. Whether it'll actually run all JS correctly is another matter of course..

All the above still stands though! Definitely think you should refactor

[2020-09-20 15:26] nick-thompson commented on #104
Yea, I looked at Doxygen; I realize it's a standard in C++ projects but this project very fluidly spans JavaScript and C++, and I don't know Doxygen well enough to know if it covers both sides or how to integrate the C++ side into some broader docs for the JavaScript side. So, I adopted a plan of just manually documenting to ensure cohesiveness across the language boundary, which is what #12 aims

[2020-09-20 15:36] nick-thompson commented on #105
For sure, thanks @julianstorer. This is really a design desicion borne by my ignorance in C++ dependency management. The goal in including these dependencies directly was to ensure that users of the blueprint juce module could just "add module" in their projucer or CMake projects and immediately be up and running. I realize this creates a configuration nightmare, which is partially captured in #62

[2020-09-20 16:45] jrlanglois commented on #104
No worries. I'll hook you up!

[2020-09-20 16:46] JoshMarler commented on #105
Happy to assist with this if you want to run over some ideas Nick. Was planning on expanding our cmake support so that blueprint could be added simply using the new cmake functions in juce without requiring user projects to add additional include paths.

This could very well all fall under a little "module restructure" ticket.

I'd be happy to look into user configured duktape builds as that's som

[2020-09-20 17:47] nick-thompson commented on #105
Yes please! That'd be great

[2020-09-20 17:48] nick-thompson commented on #104
Awesome 😁 sounds great!

[2020-09-20 22:05] jrlanglois commented on #104
Oh! That sounds good. Just an fyi that Doxygen supports JS - I'll see if I can work that in somehow, alongside some README.md or whatever to explain how to go about generating the documentation with it.

[2020-09-21 12:32] nick-thompson commented on #51
Marking this as closed after #99. We're now generally moving ahead with typescript support, and as the APIs are stabilizing so too will the type defs. Huge thanks to both @JoshMarler and @rbaxter08– I really appreciate it guys!

[2020-09-21 12:32] #51 closed

[2020-09-21 12:32] nick-thompson commented on #97
Merged in #99.

[2020-09-21 12:32] #97 closed

[2020-09-24 21:21] nicolas-ra opened #107 "Duktape error when trying to run the exemple GainPlugin."
Hello,

I am trying to run the basic GainPlugin example, but i run into this duktape error :

<img width="783" alt="Capture d’écran 2020-09-24 à 23 19 41" src="https://user-images.githubusercontent.com/49728072/94201558-75b00c80-febc-11ea-9d35-6e178b7d5d2b.png">

After hours of searching, I have 0 clue.

Juice v6.0.1

[2020-09-24 21:33] nicolas-ra opened #108 "'Starting a new Project' documentation missing informations"
Hello,

I have been trying to setup blueprint in a blank new project generated with Juice v6.0.1.

This section from https://nick-thompson.github.io/blueprint/#/New_Project :

[code]

Does not say which file it should be in. After looking in my project I came to the conclusion that it is `PluginEditor.h`.

But my file is not quite the same as the one from the documentation.
My "`MainComponent`" (w

[2020-09-24 22:48] nicolas-ra commented on #108
EDIT :

I managed to solve it (files content below), however i know have a runtime error in the Xcode console :
[code]

`PluginEditor.cpp` :

[code]

`PluginEditor.h`:
[code]

[2020-09-25 09:07] JoshMarler commented on #108
Hey @nicolas-ra, That error seems to suggest your JS bundle file doesn't exist at the location you've used.

To diagnose I would suggest printing out the full bundle path with a `DBG` statement and then first checking that actually exist on disk.

[code]

This should print the bundle file path being used to Xcode debug console and then you can double check is the path is correct and actually where

[2020-09-25 09:24] JoshMarler commented on #107
Hey @nicolas-ra,

So I've tested this locally and the GainPlugin example seems to be fine. Are you certain you have followed the correct steps to build the bundle? i.e. ran `npm install` and `npm run build` in `blueprint/packages/juce-blueprint` followed by the same in `blueprint/examples/GainPlugin/Source/jsui` ?

If you've done this there may be some other issue going on.

If you run `npm run st

[2020-09-25 10:43] JoshMarler commented on #21
@nick-thompson, quick question on this one. Do you envisage this basically being a wrapper around `juce::TextEditor` our would you imagine some composition of `View` and `Text` which handles keypress events and triggers an `onChange` prop/event?

[2020-09-28 14:10] nick-thompson commented on #21
Yea, good question. I think we can go ahead with `juce::TextEditor`, and in general I want to mimic the behavior of a web's `<input type="text">` with things like support for a `placeholder` prop and a `minlength`, `maxlength`, etc: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/text.

We'll want both an `onChange` and an `onInput` event, and we'll want to follow React's controlle

[2020-09-28 21:04] JoshMarler commented on #108
Just a thought whilst checking in on this. It does look like your hitting an assert in the juce::File overload of `evaluate` despite calling `loadFileAsString`. Would be good to confirm if that is the case as it should be preferring the juce::String overload. So your path may actually be correct. I'll check that in the morning and I can throw up a fix if needed. In the meantime try passing `evalua

[2020-10-02 23:03] BabakSamimi commented on #108
I had the same issue, not using the `loadFileAsString()` seems to be a temporary workaround, as Josh wrote.

[2020-10-02 23:14] JoshMarler commented on #108
@BabakSamimi, forgot about this! Will sanity check tomorrow and drop a fix if needed.

[2020-10-03 14:24] nick-thompson commented on #14
Realizing as I'm coming back to this just now, I definitely want to add `http(s):` support, so that you can write something like

[code]

just as you would expect with `<img src="https://images.unsplash.com/photo-1593642703055-4b72c180d9b5" />` in HTML, or as with React Native's Image.

Thinking it probably makes the most sense to focus on data/file/http schemes and come back to the bindat idea la

[2020-10-06 12:47] nick-thompson commented on #44
Closing this as fixed in 7defca5

[2020-10-06 12:47] #44 closed

[2020-10-06 12:48] nick-thompson commented on #31
Closing this as fixed as of #85

[2020-10-06 12:48] #31 closed

[2020-10-06 12:51] nick-thompson commented on #33
See #105.

I'd like to drop the idea of support V8 or JavascriptCore for now (potentially can revisit after we hit a stable 1.0 release) and aim strictly for clean duktape integration with the pimpl encapsulation

[2020-10-12 12:45] nick-thompson commented on #91
Done as of f41ee5d6aa20ffa32031a50ac62de4aad3b7dfb6!

[2020-10-12 12:45] #91 closed

[2020-10-12 12:46] nick-thompson commented on #36
Done in 30fb81bc91cb5d9d2e0c2cc0319043042b57d67b!

[2020-10-12 12:46] #36 closed

[2020-10-12 12:48] nick-thompson commented on #39
As of #91 and #111 we've moved the examples to CMake, which has its own built-in generators for Xcode, VS, Make, etc. With that I think it's fair to go ahead and mark this closed. @jrlanglois feel free to reoopen if you disagree.

[2020-10-12 12:48] #39 closed

[2020-10-12 12:49] nick-thompson commented on #22
Done via github actions in #111!

[2020-10-12 12:49] #22 closed

[2020-10-12 12:51] nick-thompson commented on #19
It seems like this issue is more or less resolved, and likely that fewer and fewer people will be on Xcode9.2. I'm going to go ahead and close it as resolved, please feel free to reopen if you disagree.

[2020-10-12 12:51] #19 closed

[2020-10-13 14:22] JoshMarler commented on #12
- [ ] task

[2020-10-13 14:30] JoshMarler commented on #12
** The below is a list of topics we need to document under the new Docsify system to close this issue **

- [ ] Update "Getting Started" with CMake/Projucer guide.

- [ ] Add VSCode Debugger guide,

- [ ] Add Typescript "Getting Started" guide.

- [ ] Add hot-reload workflow guide (`beforeBundleEval`, `afterBundleEval`) etc.

- [ ] Add data/event flow guide (`dispatchEvent`, `registerNativeMethod`

[2020-10-16 13:45] nick-thompson commented on #71
Coming back to lay down some more thoughts on this. Generally, my view on this component is: let's do the simplest thing first.

In my head, `ListView` could really essentially be just a ScrollView with a bunch of Views inside of it. For example...

[code]
and the user of such a component would just do
[code]
or whatever they want.

In practice, if that were our only goal here, I would maybe push

[2020-10-16 13:59] JoshMarler commented on #71
@nick-thompson, This is excellent thanks for the ideas. OK. I'll compose a very simple `ListView` initially in the component demo app that I'm building and get us some metrics using a dumb ScrollView. Then I can look at the state of the world with large object lists and have a look at the second implementation approach. Leveraging `addAndMakeVisible` based on child `View` sizes and scroll position

[2020-10-17 14:33] tomoyanonymous opened #116 "CMake + Ninja not working?"
Hi. I found that blueprint engine does not work when building with Ninja Generator on CMake though it can be successfully compiled. ~~(Both of my project and GainPlugin Example.)~~ Update: sorry, I confirmed GainPlugin works properly.
When I inspected with a debugger,  `registerNativeRenderingHooks` function was not called on an event loop, which was normally called when built with Unix Makefiles.

[2020-10-17 15:50] tomoyanonymous commented on #116
I found a problem that `__FILE__` returns absolute path when using Unix Makefiles but **Ninja returns a relative path to project-root** like `../examples/GainPlugin/PluginProcessor.cpp`.

juce::File's constructor expects an absolute path, so maybe when used with cmake+Ninja, it seems to nice to add a preprocessor definition

[code]
And in cpp files,
[code]

[2020-10-20 13:21] nick-thompson commented on #116
Wow, interesting, thanks @tomoyanonymous! I wonder if we should be using something more standardized than `__FILE__`? I'd prefer to avoid preprocessor defs if we can, but might be a necessary move

[2020-10-21 05:44] tomoyanonymous commented on #116
I found a more clear explanation.
https://github.com/approvals/ApprovalTests.cpp/issues/74#issuecomment-572207017

I think no standardized way to get source file path at least language level. In C++20,  `std::source_location::current().file_name()` returns a name of source file but still not a full path.

I know it is better to avoid preprocessor definitions if we can, but `__FILE__` is also a pre

[2020-10-21 15:41] JoshMarler commented on #52
@nick-thompson , Can I suggest we close this issue and just make it part of https://github.com/nick-thompson/blueprint/issues/48 ? I'll add a checklist on there now with the minimum API coverage we discussed for beta and `getTransform` will be included in that list.

[2020-10-21 15:45] JoshMarler commented on #48
The following is a checklist for `CanvasRenderingContext2D` API calls which we have deemed must haves for the beta release.

Once everything here is ticked off we can close this and probably open up a new `Extended Canvas API` ticker or similar:

- [ ] arc()

- [ ] arcTo()

- [ ] beginPath()

- [ ] bezierCurveTo()

- [ ] clearRect()

- [ ] closePath()

- [ ] createLinearGradient()

- [ ] createRad

[2020-10-21 15:46] JoshMarler commented on #70
@nick-thompson , I think we can close this as everything here is covered by individual component issues.

[2020-10-21 15:47] #70 closed

[2020-10-21 16:02] nick-thompson commented on #52
Yup, sounds good!

[2020-10-21 16:02] #52 closed

[2020-10-27 12:58] nick-thompson commented on #93
I'm going to close this and roll it into #12 where we will more actively track what docs need to be done, and then get working on it.

[2020-10-27 12:58] #93 closed

[2020-10-29 10:13] jrlanglois opened #125 "Add More Examples"
Would be cool to see more UI stuff to know what GUI components are available (and which aren't?), and also it would nice to give examples for handling mouse/touch/keyboard input.

Wishful thinking maybe: it would even be cool to have something similar to the DemoRunner from JUCE itself to give a sense of how it parallels...

[2020-10-29 13:41] JoshMarler commented on #125
@jrlanglois, Totally!, I've actually got this in progress. A ComponentShowcase app which looks very much like the JUCE Demo. Hopefully this should land fairly soon. We'll hopefully use it as the test bed to iterate on new components for blueprint.

[2020-11-06 17:28] JoshMarler opened #129 "Investigate/Improve TouchEvent support"
We are currently doing some work to improve blueprint's `SyntheticEvent` implementation. `MouseEvent` is gaining adoption of properties like `target`, `relatedTarget`, `shitKey` etc. It could be very useful to provide a `TouchEvent` for some applications.

This should match the spec here as close as possible: https://developer.mozilla.org/en-US/docs/Web/API/TouchEvent

Ideally we would provide the

[2020-11-07 21:40] nick-thompson commented on #62
Following up on #105 and after #111 we're going to go ahead with enabling custom Duktape integrations via just letting users specify a custom include path to their duktape source via CMake, while providing the default include to the copy of duktape source included in the repo.

I want to note this PR– https://github.com/nick-thompson/blueprint/pull/102/files as we're merging a commit that comments

[2020-11-13 21:23] JoshMarler commented on #11
@nick-thompson wonder if this can be closed now ? VsCode debug is documented and fairly stable.

[2020-11-13 21:24] JoshMarler commented on #73
@nick-thompson , Good to close this now ?

[2020-11-13 21:25] JoshMarler commented on #107
@nicolas-ra , did you get to the bottom of this and/or are you able to build and run current master? If good let's close this.

[2020-11-13 21:30] JoshMarler commented on #15
@nick-thompson , at a point where this can be closed after the recent events work ? Or want to leave this open until we have covered all remaining events ? I.e. mouse over, mouse leave.

[2020-11-16 13:37] nick-thompson commented on #11
Yup totally. If anything, this issue is now basically tracking a duplicate of #63. Thanks

[2020-11-16 13:37] #11 closed

[2020-11-16 13:39] nick-thompson commented on #73
Yup! Merged in #118

[2020-11-16 13:39] #73 closed

[2020-11-16 13:42] nick-thompson commented on #15
Yes, definitely. With the above linked issues, we have pretty well resolved the open questions here. For documentation's sake: view events are dispatched into js much like the generic `dispatchEvent` hook, and those events are caught by an event replayer which takes the `ViewId` associated with the event and looks up the `ViewInstance` in the registry, then dispatches the event to that viewInstanc

[2020-11-16 13:42] #15 closed

[2020-11-17 10:39] JoshMarler opened #133 "Optimise Canvas implementation"
We've yet to spend anytime optimising our `CanvasView` implementation is this is almost certainly going to be a performance hot spot, particularly for dynamic components like sliders and meters.

A likely hotspot here is going to be GC churn with all the `CanvasContext` objects passed between Native/JS. Are there some wins to be had here or ways to reduce GC churn?

@nick-thompson, if you have any

[2020-11-17 18:25] HrvojeFER opened #134 "ASIO Support"
Hello!

First of all, I wanted to say that I love this project and that I hope that it becomes a new standard for creating audio apps. I have had the same idea for a while now and I have started implementing it using cmake-js and JUCE. However, I am really reluctant to implement this all by myself when it's obvious to me that you guys will do a better job at it than I will.
With that said, I would

[2020-11-17 19:25] HrvojeFER commented on #125
I posted an issue today about a project I'm working on and I would gladly add an example once I have a minimal viable product of it.

[2020-11-18 14:33] JoshMarler commented on #53
@nick-thompson , I think this issue can probably die for now. It existed before we decided that the likes of `Slider` and `Button` would just live in blueprint core. We can revisit at a later time if needed but makes sense to keep list of issues clean whilst we run to beta.

[2020-11-18 14:33] #53 closed

[2020-11-18 14:35] JoshMarler commented on #84
@nick-thompson , should we tag this for beta? Probably a bit of an annoyance for users?

[2020-11-18 14:37] JoshMarler commented on #63
@nick-thompson, this probably doesn't need to be beta. Correct me if I'm wrong.

[2020-11-18 14:37] #63 closed

[2020-11-18 14:38] JoshMarler commented on #33
@nick-thompson , Does this need to be beta?

[2020-11-18 14:39] JoshMarler commented on #24
@nick-thompson , definitely needed for beta?

[2020-11-18 14:41] nick-thompson commented on #134
Hello @HrvojeFER!

Thank you, I hope so too :D

There's no direct integration of ASIO into blueprint, but blueprint really only concerns itself with assembling your project's user interface, and tries to remain as agnostic as possible to whatever else your project wants to do. I suspect you'd be able to start with a generic juce audio app, add blueprint, and then build out your ASIO integration on

[2020-11-18 23:28] nick-thompson commented on #133
Ok so here's an idea I came up with the other day that completely eliminates the canvas context native binding and I think should help with the GC churn. Below I'll list some scratch code, but the idea is essentially to shim a `CanvasRenderingContext` in such a way that we just build up a list of "draw commands," where each command is basically a tuple containing the command name and the arguments

[2020-11-19 13:52] HrvojeFER commented on #134
Thank you for your reply.
I was really hoping to use your library, but I soon discovered that I wanted to do things in reverse (sorry about the misunderstanding, I'm still a noob programmer). I finally realized that you made a library that renders React to JUCE, whereas I want to expose JUCE as an API to a JS app.
Thank you for your time and the best of luck to both of us. 😄

[2020-11-19 13:52] #134 closed

[2020-11-19 14:05] nick-thompson commented on #84
Yep, I like that. Will add now

[2020-11-19 14:06] nick-thompson commented on #63
:+1:

[2020-11-19 14:10] nick-thompson commented on #33
It doesn't need to be, no. There are two issues here: one of them is Pimpl'ing the EcmascriptEngine so that all the Duktape specifics are hidden inside the Pimpl, which I believe should ease #62 and some of the issues that @julianstorer saw when trying to compile with FAST_MATH. Part of me thinks this would be a nice beta feature, but I don't know if it should hold us up.

The second issue, which

[2020-11-19 14:10] nick-thompson commented on #24
100%, let's add it

[2020-11-21 09:19] JoshMarler commented on #71
@nick-thompson, I'm going to look at this in my next sprint from Monday.  I suspect this is going to become important for us as we'll have cases where I may switch between 2 reasonably large lists of elements based on some category filter or similar. i.e. get all samples from library A, get all samples from library B. In this instance a virtualized list is going to be really important.

I have a s

[2020-11-21 15:36] nick-thompson commented on #71
Awesome, yea, this will be a good test :)

I think `shouldComponentUpdate` on the top `ListView` will be ideal: best not to even try rendering/reconciling 10k children if the props at the `ListView` level haven't changed.

Another thought that I'm just having right now– it might be best, at the time that you switch from A to B or vice versa, to only re-render with the first ~50 items. Maybe the ne

[2020-11-21 16:46] nick-thompson opened #136 "Better Test Runner"
Right now we have this `TestRunner` project which just runs unit tests (https://github.com/nick-thompson/blueprint/blob/master/examples/TestRunner/Source/Main.cpp). The only unit tests we have are a couple of tests on the EcmascriptEngine to verify that our interface on top of Duktape works correctly.

This is helpful, but... not _that_ helpful. I think what would be more useful is the following:

[2020-11-21 16:47] nick-thompson commented on #107
I think we're good to go ahead and close this. @nicolas-ra please feel free to re-open if your issue is not solved!

[2020-11-21 16:47] #107 closed

[2020-11-21 23:02] JoshMarler commented on #136
Yeah excellent. I think this will add real power and confidence to the CI checks.

[2020-11-22 00:17] olidacombe commented on #136
I was thinking about this when dealing with the css macro properties, where unit tests for asserting that a particular string produces a particular matrix would be very useful.  To run unit tests for `react-juce` through `EcmaScriptEngine` would be great - i.e. instead of node running something like jest, which will glob for test files and assemble suites, we build a test bundle using webpack and

[2020-11-22 15:24] nick-thompson commented on #136
Ahh neat, that's a great idea. Yea, I think that sounds easy enough + definitely worth it

[2020-11-22 17:20] nick-thompson opened #138 "Bug with hot reloading behavior"
Our current hot reloading flow preserves a single EcmascriptEngine instance (to keep a debugger session alive if you have one attached) by resetting the engine and then re-evaluating the changed bundle. See: https://github.com/nick-thompson/blueprint/blob/master/blueprint/core/blueprint_ReactApplicationRoot.h#L420.

That's all good, but our current `reset()` behavior on EcmascriptEngine only clear

[2020-11-22 17:21] nick-thompson commented on #138
@JoshMarler tagged this one for you since I think you're planning to look at it

[2020-11-23 12:04] JoshMarler commented on #75
@nick-thompson , this probably doesn't need to be beta. I'll remove for now. Correct me if you wish.

[2020-11-23 12:05] JoshMarler commented on #72
@nick-thompson , another one that probably doesn't need to be beta. Will remove and correct if you think it should be.

[2020-11-23 12:05] JoshMarler commented on #71
@nick-thompson , another one that probably doesn't need to be beta. Will remove and correct if you think it should be.

[2020-11-23 12:05] JoshMarler commented on #60
@nick-thompson , another one that probably doesn't need to be beta. Will remove and correct if you think it should be.

[2020-11-23 17:43] nick-thompson commented on #65
Done as of #137!

[2020-11-23 17:43] #65 closed

[2020-11-25 15:56] nick-thompson commented on #103
Done in #141

[2020-11-25 15:56] #103 closed

[2020-11-25 23:45] rafou commented on #129
Hey @JoshMarler @nick-thompson  ! First of all let me tell you how nice this project looks ! It's amazing what you have achieved already and I'm looking forward for the first release.

@JoshMarler concerning this feature, I gave it a shot and got pretty nice results on a real iPad (so multi touch surface) with 3 fingers and on the iPad Simulator in XCode where you are bound to 2 fingers. I managed

[2020-11-26 17:28] JoshMarler opened #143 "Improve support of CSS based border-width properties"
Our current `border-width` support is fairly basic and just strokes a rectangle around a view. It is difficult to add border lines and specific edges. i.e.:

------------------------------------------------------
Item 1
------------------------------------------------------
Item 2
------------------------------------------------------

We should implement an equivalent to CSS's border-width props:

[2020-11-27 11:17] JoshMarler commented on #143
Note for any that might consider picking this up. I am currently working on this change so please let me know if you've also started working on this.

[2020-11-27 11:21] olidacombe commented on #143
@JoshMarler I've got my eye on a few things including this, but totally snowed under so no collision here ;)

[2020-11-27 11:28] JoshMarler commented on #143
Heh! Cool cool. Good If I take this then? Just adding the following:

`border-left-width`
`border-right-width`
`border-top-width`
`border-bottom-width`

`border-left-color`
`border-right-color`
`border-top-color`
`border-bottom-color`

`border-bottom-left-radius`
`border-bottom-right-radius`
`border-top-left-radius`
`border-top-right-radius`

`border-width`
`border-color`
`border-radius`

@olidaco

[2020-11-27 11:45] olidacombe commented on #143
@JoshMarler yes please go for it!  Using a bit of project management machinery seems like a very sensible idea to me.  My immediate feature desires revolve around performance and developer quality-of-life (I think the latter especially will be key to adoption post beta).  Some are ridiculously trivial and yet I think would make a big impact on say pure js devs being drafted in on a project.

[2020-11-27 12:01] JoshMarler commented on #143
@olidacombe , Sounds awesome! Would be super interested to hear what you have in the pipeline particularly around performance as I've some work in mind to reduce garbage collection overheads etc. I'm working with blueprint on embedded targets so this of paramount concern to me. Unsure if you are on Discord but we have a blueprint channel/server going which Nick and I are usually active on daily. M

[2020-11-27 17:48] olidacombe commented on #143
@JoshMarler sounds great, I haven't used it before and didn't manage to find the channel.  My username is easy exceptionally easy to guess from my github handle if there's any kind of invite mechanism.

[2020-11-27 18:08] JoshMarler commented on #143
@olidacombe, Try this: https://discord.gg/Ve7MYDSb

[2020-11-29 12:06] JoshMarler opened #144 "Add hitTest function prop to view"
@nick-thompson , I think I'm about to hit a use case where I need a component to respond to clicks only within a certain area. I.e. a circle drawn within a View's rect bounds.

Does this sound like a reasonable addition ? I can add if you think a hitTest prop is the right way to approach.

[2020-11-30 14:53] nick-thompson commented on #144
Sounds like something that we can already do via composition ;)

[code]

Then you just use `HitTestView` in place of `View` wherever you need that behavior, and of course implement the `customHitTest` helper

[2020-11-30 14:57] JoshMarler commented on #144
Ah yeah OK neat. Seems a reasonable way to go. Think that's a thing worth having in the library itself or just documenting in some way ?

[2020-11-30 15:43] nick-thompson commented on #144
It seems to me like more of a "how do I do X in React?" question than a question necessarily pertaining to blueprint/juce. So, I suppsoe I don't think it should be in the core library, and I also wonder if it's more of a third-party-blogpost candidate than something to be documented for blueprint. What do you think?

[2020-11-30 15:48] JoshMarler commented on #144
Yeah. Agreed. More of a tutorial consideration. Cool. Cheers

[2020-11-30 15:48] #144 closed

[2020-11-30 15:57] nick-thompson commented on #143
Yea I'm definitely guilty of not applying the best project management here 😇

I'm not loving the way Github's project board syncs with the Issues list either, it has so far ended up feeling like a _separate_ thing to manage to try to keep track of the work. I'm wondering if perhaps we can achieve better project management by focusing on, and improving the process around Github Issues?

Specificall

[2020-12-02 14:16] nick-thompson opened #146 "Timers Polyfill"
Currently blocking #122.

This task is for implementing the following global timer functions within our EcmascriptEngine environment:
* `setTimeout`
* `setInterval`
* `clearTimeout`
* `clearInterval`

The task should be easy enough: in the EcmascriptEngine constructor and in its `reset` method, we just need to `registerNativeMethod` for the above mentioned functions. The implementations should mat

[2020-12-02 14:44] olidacombe commented on #146
Hmmm, cool yes I want this, but can't see how to assign myself either...

[2020-12-02 15:43] JoshMarler commented on #146
Ha sorry just testing whether you could assign other users. Feel free to remove yourself @olidacombe !

[2020-12-02 16:10] JoshMarler commented on #143
@nick-thompson , Yeah I like this. Succinct and easy to follow. Think this is probably worth adding as points in the README Contributors section.

[2020-12-03 18:08] jrlanglois opened #147 "Process for adding JUCE hooks?"
What is needed to add hooks for doing things like creating/removing/moving/resizing windows, popup menus, custom components, and so forth?

[2020-12-03 21:47] jrlanglois opened #148 "Make juce_audio_processors an optional thing."
Really, the juce_audio_processors module can be added by checking the module macro to see if it's available (this will mean optionally compiling your editor wrapper stuff with that).

![image](https://user-images.githubusercontent.com/1908886/101092141-2c003400-3587-11eb-868c-f28d4025fc1c.png)

[2020-12-03 22:31] JoshMarler commented on #147
Hey @jrlanglois , Could you give a little more context? Are you talking about instantiating a `juce:::DialogWindow` from React as `<Dialog />` for example?

[2020-12-04 18:32] jrlanglois commented on #147
Well, the context is about understanding how to integrate C++ code for React code to understand. I haven't a clue what the process would be!

[2020-12-05 00:16] nick-thompson commented on #148
Hmm yea very good point... it's only the `GenericEditor` that has this dependency. We could easily omit the includes for `GenericEditor` if we know that the user doesn't want to include `juce_audio_processors`.

I don't follow you here but this sounds like the trick! Can you share more about that?

[2020-12-05 00:38] nick-thompson commented on #147
Touche! This is one of those things we should document better.

Generally there are two ways to cross this C++/React boundary: you can pass C++ functions into javascript and javascript functions into C++ and call them when you need, or you can create a custom native View and render it in your React component tree.

## Option 1

To establish C++ functions in your js environment, see `EcmascriptEngi

[2020-12-07 14:32] JoshMarler commented on #74
Done as of https://github.com/nick-thompson/blueprint/commit/fe917396539679db2e5db0a50e9d5784184c9f9d

[2020-12-07 14:32] #74 closed

[2020-12-08 02:36] jrlanglois commented on #148
Of course! https://github.com/nick-thompson/blueprint/pull/151

[2020-12-08 13:51] nick-thompson commented on #148
Merged with #151!

[2020-12-08 13:51] #148 closed

[2020-12-08 14:09] jrlanglois commented on #147
Excellent, thanks! Yeah, it sounds like this outta be documented somehow. Maybe the Wiki would be useful here?

[2020-12-08 20:00] nick-thompson commented on #147
Definitely. We've moved documentation into the repo: https://github.com/nick-thompson/blueprint/tree/master/docs, which reminds me I should probably remove the wiki to avoid confusion :)

[2020-12-10 17:20] JoshMarler commented on #133
For reference.

The vast majority of time profiling the GainPlugin example with a Canvas based slider is spent in two places.

1. `juce::Graphics::drawImage`. This dominates CPU time.
2. duktape functions in response to mouseDrag/dispatchEvent

We should be able to remove the need for rendering to an Image with the above change. I've also seen some intermittent UI lags when repeatedly moving a Sli

[2020-12-11 13:50] nick-thompson commented on #71
Right that makes total sense. @JoshMarler I'm going to mark this as assigned to you while you're on it to hopefully prevent duplicate work. And I'll add a `CONTRIBUTING.md` file shortly to clarify that workflow!

[2020-12-11 14:05] nick-thompson commented on #138
Fixed in #157. Thanks @JoshMarler

[2020-12-11 14:05] #138 closed

[2020-12-11 14:39] JoshMarler commented on #5
@nick-thompson, think it's fair to say we can close this which I shall do now. Reopen if you disagree.

[2020-12-11 14:39] #5 closed

[2020-12-11 14:40] JoshMarler commented on #4
@nick-thompson, pretty sure we can close this one now too.

[2020-12-11 14:40] #4 closed

[2020-12-11 14:42] jrlanglois opened #158 "Swap "typedef" for "using"."
It's the modern way...

[2020-12-11 14:43] jrlanglois opened #159 "Update the .gitignore so the repo can cope with vscode and MSVC stuff."
Specifically, add the following:

[code]

[2020-12-11 14:44] jrlanglois opened #160 "Add a .gitattributes files to code with text files, their line-endings, and storing binary files."
Something like this:

[code]

[2020-12-11 14:45] JoshMarler commented on #159
Whilst we're here I'd also request:

[code]

[2020-12-11 14:45] jrlanglois opened #161 "Remove all of the auto-generate .h/.cpp headers."
Example:
[code]

[2020-12-11 14:47] jrlanglois opened #162 "Add an official license/terms of use to the top of the .h/.cpp files."
Something regarding the license of the repo: https://github.com/nick-thompson/blueprint/blob/master/LICENSE.md

This is just a suggestion! I haven't a clue about the validity or usefulness.

[2020-12-11 14:48] jrlanglois opened #163 "Replace hand-rolled compiler checks and warning management with JUCE macros."

[2020-12-11 14:49] jrlanglois opened #164 "Fixed Duktape's C++11 detection for MSVC."

[2020-12-11 14:49] jrlanglois opened #165 "Added a Projucer compatible configuration macro to enable/disable compiling unit tests."

[2020-12-11 14:52] jrlanglois opened #166 "Remove all inclusions within the module and move them into just the master module files."

[2020-12-11 14:52] jrlanglois opened #167 "Add a .h/.cpp to push/pop warning disabling for third-party headers."

[2020-12-11 14:55] jrlanglois opened #168 "Migrate implicit casts of juce::var to explicit casts (ie: static_cast<Type>)"
Compilers don't always do a good job of guessing what way to cast, and you might get interesting/unexpected/undesirable results!

[2020-12-11 15:01] jrlanglois opened #169 "C++ Housekeeping"
* Refactor code to use "auto"
* Apply const-refs judiciously
* Flip Yoda conditions

---

Open to other ideas..!

[2020-12-11 15:02] jrlanglois opened #170 "Add module header checks for exceptions and a C++17 compatible toolchain."
Effectively, doing this would show a user the necessities at compile time!

[code]

[2020-12-11 15:12] jrlanglois opened #171 "Add Linux & MSVC exporters to the TestRunner"

[2020-12-12 21:50] nick-thompson commented on #160
Great! +1 for this. My only comment is to prefer unix line endings for our source code files

[2020-12-12 21:51] nick-thompson commented on #158
Sure, happy to make that update. Maybe this reveals the boundaries of my C++ knowledge here, but, practically, what's the difference?

[2020-12-12 21:52] nick-thompson commented on #159
Yup, big +1

[2020-12-12 21:55] nick-thompson commented on #162
Yea I think this is a great idea, and certainly makes more sense than the headers you mention in #161 :D

[2020-12-12 21:56] nick-thompson commented on #164
:+1: cool with me! That's perhaps worth opening an issue for in the Duktape repo as well

[2020-12-12 21:58] nick-thompson commented on #166
In practice, I realize that this approach follows the JUCE module format, but I wonder as well, could this break CMake integration if users didn't want to use the builtin juce cmake helpers? That's maybe a dumb question anyway because users of this project must obviously be juce users :)

[2020-12-12 22:01] nick-thompson commented on #167
Hmm I'm less sure about this one. In particular, #145 moves our Duktape headers such that they're only referenced in EcmascriptEngine.cpp. A similar refactor will follow for ShadowView.cpp and the Yoga headers. I could imagine pushing/popping different warnings for the different projects (and potentially the same argument holds for any dependencies we may add in the future), and so I wonder if the

[2020-12-12 22:02] nick-thompson commented on #169
Generally :+1:! The only one I don't understand: flip Yoda conditions? What is that?

[2020-12-12 22:02] nick-thompson commented on #170
Ahh nice one, yes!

[2020-12-13 14:49] jrlanglois commented on #158
The declaration semantics change in a handful of subtle ways.

This article gives a great sense of it:
https://www.nextptr.com/tutorial/ta1193988140/how-cplusplus-using-or-aliasdeclaration-is-better-than-typedef

[2020-12-13 14:51] jrlanglois commented on #160
I hear you! The issue is really cross platform development when including Windows... IIRC, VS2019 is now kosher with LF, but VS2015 and 2017 aren't. (Although 2015 might not be relevant to this module being on the old and gray side of toolchains...)

[2020-12-13 14:54] jrlanglois commented on #166
It shouldn't have any different effect when building with cmake outside of a JUCE managed build context.

Practically speaking, users should only need to import the top level .h/.cpp into their cmake... Otherwise they would be stuck disabling compilation for the child files.

[2020-12-13 15:48] nick-thompson commented on #158
Neat, got it. Thanks for the link!

[2020-12-13 15:51] nick-thompson commented on #160
Hm, right... I think it's certainly fair to leave 2015 behind :) If there's a trivial way to support VS2017 here I'm for it, but if not then it seems to me maybe not worth maintaining any complicated dance for it?

[2020-12-14 15:30] JoshMarler opened #176 "Add links to various Discord channels"
We should add "Contact Us" links to Discord and the like in the README

[2020-12-15 13:48] nick-thompson commented on #147
I just added the Discussions feature of github, which looks pretty neat! I'm going to mark this as a discussion, which will close the issue attached, but preserve the question/answer here for other users who find this helpful

[2020-12-15 13:48] #147 closed

[2020-12-15 13:50] nick-thompson commented on #33
As of #145, the EcmascriptEngine interface has been cleaned up and is now properly Pimpled with Duktape underneath. I'll go ahead and mark this issue resolved, and open a separate issue for tracking a V8 Pimpl implementation

[2020-12-15 13:50] #33 closed

[2020-12-15 13:55] nick-thompson opened #178 "V8 EcmascriptEngine Pimpl"
As of #145 we now have a cleaner EcmascriptEngine interface which is satisfied via a Duktape implementation Pimpl by default. The task here is to provide another EcmascriptEngine implementation via V8 (https://v8.dev/docs) with a new Pimpl.

Quick details:
* Let's move the existing `EcmascriptEngine.cpp` to `EcmascriptEngine_Duktape.cpp`
* Let's add a new `EcmascriptEngine_V8.cpp`
* Let's add a pr

[2020-12-15 13:58] nick-thompson opened #179 "ShadowView Pimpl"
Following #145, I'd like to refactor our ShadowView class in the same way we just did for EcmascriptEngine. In particular, our ShadowView interface should have no mention of Yoga, as Yoga is just an implementation detail. Inside `ShadowView.cpp` we'll include the Yoga headers, do any compiler warnings dance we need there, and satisfy the `ShadowView` interface with a `Pimpl` tailored to Yoga.

For

[2020-12-15 14:00] nick-thompson commented on #105
After #145, I'm going to go ahead and mark this issue as a duplicate of #62. We should now be in a place where end users can provide their own Duktape source, modified however they need, and just specify some include defs to convince Blueprint to use that instead of the Duktape source that we bundle.

The work is done, but there are some lingering questions about how to most cleanly allow users to

[2020-12-15 14:00] #105 closed

[2020-12-15 14:06] nick-thompson commented on #176
Done in 2b1aaa5595e4246e27902e3df9623e5d4ae09c43!

[2020-12-15 14:06] #176 closed

[2020-12-15 16:37] jrlanglois commented on #160
To be fair, every IDE/editor on macOS and Linux handle CRLF just fine...

[2020-12-15 18:27] jrlanglois opened #181 "Add GitHub Action to build PRs (and commits to master?) for Linux/macOS/Windows"
It would be nice to have this automated to an extent or other.

Relies on #171 .

[2020-12-15 23:11] nick-thompson commented on #181
100%, this is becoming a priority. Thanks for opening

[2020-12-16 14:11] nick-thompson commented on #108
This should all be sorted now as of #115. I'm going to mark as closed, please reopen if you still see any issues!

[2020-12-16 14:11] #108 closed

[2020-12-16 14:32] #159 closed

[2020-12-16 15:07] #170 closed

[2020-12-16 15:08] #158 closed

[2020-12-16 15:27] jrlanglois commented on #136
Had a proper read of the requests and concepts in here - totally agree with all of it...

I think I have a solid idea on how to tackle all of this with the efforts focused on usability and flexibility.

[2020-12-16 15:32] nick-thompson commented on #136
Excellent @jrlanglois! I think we can split this into two pieces of work: one for the refactor + running the GainPlugin bundle, and then if you want to tackle a follow up pull request for @olidacombe's test bundle that's awesome. That latter one will likely involve some good webpack nudging, which I think is a bit of "scope creep" if we try to fit that all into one effort.

I'll go ahead and assig

[2020-12-16 15:37] jrlanglois commented on #136
A task to add would be changing from the Projucer project to the cmake project.

[2020-12-16 15:46] nick-thompson commented on #136
Agreed! 100%

[2020-12-16 19:35] jrlanglois opened #186 "Update JUCE to latest release: 6.0.5"

[2020-12-22 14:17] #186 closed

[2020-12-27 18:03] nick-thompson commented on #181
See #193

We now compile for all major platforms and run our node build on ubuntu. Then see #136. I think the next step is to CMake-ify our TestRunner, add it to the top-level CMakeLists so that we build that and the gainPlugin on every commit, then run the gainplugin jsui build as the final piece of our CI workflow.

I'm going to leave #136 open to track that effort, and go ahead and close this o

[2020-12-27 18:03] #181 closed

[2020-12-27 18:04] nick-thompson commented on #171
See #136 and the discussion in #182, we're going to transition the TestRunner project over to CMake, so I think we can remove all the exporters from the TestRunner project. I'll go ahead and close this accordingly, tracking the remaining work in #136

[2020-12-27 18:04] #171 closed

[2020-12-27 18:06] nick-thompson commented on #71
Adding this to the beta milestone as we're already almost there #192 !

[2020-12-27 18:08] nick-thompson commented on #146
Done in #188 🎉 !

[2020-12-27 18:08] #146 closed

[2020-12-27 18:09] nick-thompson commented on #13
Adding this to beta, will close momentarily with #190. Thanks @olidacombe !

[2020-12-27 18:12] #13 closed

[2020-12-27 18:35] nick-thompson commented on #24
Quick update here, @olidacombe has some work with Prettier going on the js side in #191.

This morning, I'm looking at clang-tidy and clang-format to cover the C++ side. Should be pretty easy to integrate these things into our workflow, but a prerequisite for clang-format seems to be picking and adhering to a .clang-format style. I'm not very well-versed in these, so figured I'd ask here: anybody

[2020-12-28 13:26] JoshMarler commented on #24
Not sure if you've seen this Nick but worth a look: https://forum.juce.com/t/automatic-juce-like-code-formatting-with-clang-format/31624/7

Granted we might not want to match juce's coding style exactly.

[2020-12-28 14:32] nick-thompson commented on #24
Excellent, I'll poke at that later this week! Thanks

[2020-12-28 15:32] olidacombe opened #194 "Gracefully Handle EcmascriptEngine::Error thrown outside of ReactApplicationRoot call stack"
The duktape pimpl `LambdaHelper::invokeFromDukContext` can lead to a throw from `safeCall` that isn't caught when the invocation came from a timer callback, e.g.

[code]

This then leads to program termination!

Instead a way to call `ReactApplicationRoot::handleRuntimeError` would be good.  E.g. if `EcmascriptEngine` carries a reference to the owning `ReactApplicationRoot` for use in `safeCall` o

[2020-12-28 21:35] stfufane commented on #116
Hi, just wanted to confirm that I got the same issue on Windows 10 when building with Ninja. I used @tomoyanonymous workaround to fix it and it worked.

[2020-12-30 14:09] nick-thompson commented on #116
Hey @stfufane @tomoyanonymous check out #197.

Rather than trying to do a preprocessor dance around the inconsitentices in __FILE__, I added a small workaround for GainPlugin and updated the docs so that new users avoid __FILE__ in the first place. Let me know what you think

[2020-12-30 14:33] nick-thompson commented on #125
I'm going to merge this with #18 and generally track the idea of more and better example projects there. @HrvojeFER if you still have an example of your current project, I'd love to see it!

[2020-12-30 14:33] #125 closed

[2020-12-30 14:33] nick-thompson commented on #18
Merging #125 here: let this task represent generally adding more and better demos and examples

[2020-12-30 14:46] nick-thompson commented on #20
After #188 I think it's fair to call this done. Timers are the priority, fetch is a nice-to-have that, as of yet, doesn't seem to be a big want. I'm going to close this now, and we'll open a dedicated task to track a `fetch` implementation when it becomes more relevant

[2020-12-30 14:46] #20 closed

[2020-12-31 13:35] nick-thompson commented on #116
Closed with #197. Thanks all!

[2020-12-31 13:35] #116 closed

[2021-01-02 15:42] nick-thompson commented on #71
Done in #192!

[2021-01-02 15:42] #71 closed

[2021-01-03 17:44] JoshMarler opened #199 "Add TS prop types to all internal components"
We need to fully type all the core component prop types.

The main component to properly type is `<View>` as we should allow a type union on `ViewProps` for clients and other component types.

[2021-01-03 17:50] JoshMarler opened #200 "Validate/Whitelist props on core component/view types"
We should ad prop whitelisting/validation in `BlueprintBackend.setProperty`: https://github.com/nick-thompson/blueprint/blob/master/packages/react-juce/src/lib/BlueprintBackend.ts#L149

This would help us to avoid sending unnecessary props through to native. If a prop is set that is not recognised by the `ViewInstance` type we should avoid calling through to `__BlueprintNative__.setViewProperty`.

[2021-01-05 14:39] nick-thompson commented on #178
Adding a bit more detail here as I think v8 integration will become a big priority after beta.

Generally I think the details of integration here fall into two bits. The first is just getting things to compile, and the second is fleshing out the full `EcmascriptEngine` interface.

To the first point, I envision something like

[code]
Then, for the user to compile successfully, they'll need to `-DR

[2021-01-05 14:45] JoshMarler commented on #178
Yep perfect. Given juce modules are just interface libraries under cmake this can be super simple.

Users should need to literally just `target_include_directories(/path/to/v8/include)` and `target_link_libraries(v8_monolith)` on their targets using the react-juce submodule.

[2021-01-05 14:55] JoshMarler commented on #178
From a previous discussion between myself an Nick. Examples here have been identified as a good starting point to follow when implementing `EcmascriptEngine::evaluate` and `EcmascriptEngine::evaluateInline`:

https://github.com/v8/v8/blob/master/samples/process.cc#L233

https://github.com/v8/v8/blob/master/samples/process.cc#L653

Documentation on embedding V8 into C++ app here:

https://v8.dev/do

[2021-01-06 13:20] nick-thompson opened #205 "MouseEnter / MouseLeave"
This task is for supporting `onMouseEnter` and `onMouseLeave` in `blueprint::View`, just as we have with `onMouseUp` and `onMouseDown`

https://developer.mozilla.org/en-US/docs/Web/API/Element/mouseenter_event
https://developer.mozilla.org/en-US/docs/Web/API/Element/mouseleave_event

[2021-01-06 15:48] stfufane commented on #133
Hey !
I wasn't looking at that particular issue but fell on something strange while debugging the GainPlugin with VS2019. The diagnostic tool showed that memory usage was constantly increasing (~1MB/3s). I was curious to see if it was linked to the debugger so I closed VS and launched the executable and watched memory usage on Windows task manager, and the issue was the same.

I noticed that the i

[2021-01-06 16:26] JoshMarler commented on #133
@stfufane, Thanks for this!

So the GainPlugin example basically continually repaints on a canvas via a timer thread. So this is expected in some ways. Eventually that memory should be release when Duktape's garbage collection phase kicks in. I'm interested that you're seeing `void` objects to so thanks for that spot! That seems a little odd. @nick-thompson might understand better why you're seein

[2021-01-06 21:18] JoshMarler commented on #60
After recent discussions we think we have a basic approach in mind for Drag and Drop support which should leverage `juce::DragAndDropComponent` and aim to interop well with the HTML drag and drop API:

https://developer.mozilla.org/en-US/docs/Web/API/HTML_Drag_and_Drop_API

Rough plan for the implementation is as follows:

- ReactApplicationRoot inherits from `juce::DragAndDropContainer`
- `View`

[2021-01-07 14:12] nick-thompson commented on #60
Yep, this looks good. I want to slightly clarify a few things:

* I generally think we should break this effort up into two passes. In the first pass, we'll implement the notion of dragging, and in the second pass, we'll implement the notion of dropping.
* The first pass, dragging, covers most of the bullet points above. The part that I want to flesh out a bit here is this: the idea behind `__Blue

[2021-01-09 23:25] stfufane commented on #205
Hey! I could not find how to assign myself to this issue but I gave it a try anyway :) Cheers

[2021-01-09 23:37] stfufane commented on #14
Hey there, as we discussed I'll give a go at the http(s): support, I'll let you know if I encounter a difficulty

[2021-01-10 17:36] nick-thompson commented on #205
Excellent, thanks @stfufane! Will check it out shortly, and I've assigned you here

[2021-01-10 17:37] nick-thompson commented on #14
Great, thank you. I've assigned your name here as well!

[2021-01-10 21:27] nick-thompson commented on #205
Closed with #206!

[2021-01-10 21:27] #205 closed

[2021-01-10 21:30] nick-thompson opened #209 "Ship a dev and a production bundle on npm"
Right now, the `react-juce` package that we ship onto npm has a build step for assembling the files into a bundle before distribution. The npm package itself largely just contains a package.json and that bundle.

So far, that's not a problem, but the change I'd like to add here is simple:

* Build both a development version (`webpack --mode=development`) and a production version (`webpack --mode=p

[2021-01-11 02:59] androidStern opened #210 "console.log(syntheticEvent) causes "caller attempted to invoke a non-existent view method" error"
# repro steps:

1. add an onMouseDrag callback to your react component that simply console.logs the drag event. In my case my component was a wrapper around a button.
For example:
[code]
2. run your app and initiate a drag event

    You'll see something like the following error:

![image](https://user-images.githubusercontent.com/6765676/104143548-f1f82e00-538d-11eb-891f-70c07f56d714.png)

# Addi

[2021-01-13 10:22] stfufane commented on #14
This was a big one and it required lots of new things to understand for me but I finally got something working. There are lots of changes so before I submit a rotten PR, I'll let you check on my forked repo if the approach sounds right.

https://github.com/stfufane/blueprint/commit/4ba6fb41e03c020ebcd29575ada44fcb8a852db2

A few notes :
- I split ImageView in .h and .cpp, it was becoming big and h

[2021-01-13 13:47] nick-thompson commented on #14
I left a few comments inline on your branch.

Generally looks great! A couple things in there we can simplify. Also, you won't need a lock_guard if we use that `juce::MessageManager::callAsync` trick for getting the actual juce::DrawableImage swap to happen on the main thread.

[2021-01-13 13:56] stfufane commented on #14
Cool, thanks! Just read the comments, looks easier indeed :D I'll change that, should be straight forward this time. I actually had complications because of the thread in a thread due to the use of DownloadTask... I stuck to this comment https://github.com/nick-thompson/blueprint/pull/117#issue-507445831 and didn't realize it would cause this kind of trouble in my mind ^^'

What do you think about

[2021-01-13 14:02] nick-thompson commented on #14
Yea, I think this way is simpler :)

Yes +1 for onLoad, and in keeping with the <image> spec in web (https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Img#image_loading_errors) I say +1 for onError too! Then we can skip the `throw runtime_error` bit and instead call the `onError` callback if it's present

[2021-01-18 16:47] JoshMarler commented on #98
@nick-thompson, once the canvas optimisation goes in I think we're expecting this could be the last major GC churn improvement. Would be cool if we could get a discussion going on here. I'm happy to take this as part of my ongoing "performance rampage".

I'll try to digest some of the SyntheticEvent code you've posted above but if you have any initial/high-level thoughts on the right approach here

[2021-01-18 17:01] stfufane opened #213 "Add a <MIDIKeyboard /> component"
Hey @nick-thompson !

We had a talk with @JoshMarler about the possibility of having a native <MidiKeyboard /> component in the react-juce package and your opinion on how to tackle this would be nice.

The options are :
 - Have a new React Component in the react-juce package with its set of props and a dedicated C++ class to handle the mouse events and the MIDI messages. The rendering would be man

[2021-01-18 17:37] nick-thompson commented on #98
Sure thing! So there's a very quick approach to pooling that we can do here to get some early performance profiles. We may not need to make any terribly complicated systems here to get the benfits we're looking for. I envision something really quite this simple, initially:

(Imagine the following code roughly replacing this: https://github.com/nick-thompson/blueprint/blob/master/packages/react-juc

[2021-01-18 18:39] JoshMarler commented on #213
In on the fence in regards to whether we should offer something like MIDIKeyboard as a core react-juce component.

I think an example app which creates such a component using react-juce's core view types sounds great.

I wonder if it might be difficult to cover everyone's use-cases with a MIDIKeyboard component?

Be interested to hear what you think to this @nick-thompson and your thoughts around

[2021-01-18 19:37] nick-thompson commented on #213
I definitely agree that this would make a very cool example, and an example that I think a lot of people would look to for implementing this kind of behavior. But, I think we should be careful about what becomes part of react-juce and what doesn't.

In particular, react-juce is a view layer library, and I think we should be very careful to leave it at that. That is, react-juce doesn't care if you'

[2021-01-18 20:08] stfufane commented on #213
That could be a long discussion 😃

I totally get your point, and it's a complicated one to decide. For me the main question is to know how much effort we expect from the developer who will use it and implement the feature.

Let's imagine there are 2 people working on the plugin, one on the DSP/processing part and the other on the interface, how much is he expected to dive into the C++ code to have

[2021-01-19 10:35] olidacombe commented on #213
I think what frontend devs would want is an interface like web midi, so they can use whatever abstractions in npm they're used to.  The backend devs ideally would have little more to do than conditionally (un)patch midi devices to the underlying provider in c++ as they become (un)available.  If react-juce could implement webmidi, maybe the default behaviour would be to pass all midi devices throug

[2021-01-19 15:49] JoshMarler opened #214 "Refine border-path View prop to allow scaling to View bounds"
It would be extremely useful to provide a concise scaling approach for the `border-path` prop so that tacking some simple SVG path commands from some design asset is straightforward.

i.e. given the below path string how do we ensure the `border-path` is scaled to the outer bounds of the `<View />` instance?

[code]

This might require a slight rethink of SVG border paths in general.

[2021-01-23 23:05] nick-thompson commented on #34
Okayyy https://github.com/nick-thompson/blueprint/pull/216 has just gone in, which means the only changes left here are primarily in the documentation and the repo name itself. Almost there!

[2021-01-27 08:40] JoshMarler commented on #133
Fix for this is now in master. Closing.

[2021-01-27 08:40] #133 closed

[2021-01-31 12:08] ilionic commented on #96
Wasn't able to run Soul example itself with current `react-juce` version possibly due to internal renamings ( blueprint->react-juce ). I think this could be achieved with `webpack-dev-server` as well as `webpack-dev-middleware` if I understand correctly the problem. So errors would appear in IDE console. Of course at the expense of more complicated webpack setup. Is it something worth considering?

[2021-01-31 12:45] ilionic commented on #210
Based on React SyntheticEvent doc that's not valid event:
[code]

https://reactjs.org/docs/events.html#mouse-events

[2021-01-31 16:29] nick-thompson opened #225 "StyleSheet API"
This issue is for supporting a styles API similar to React Native's StyleSheet: http://reactnative.dev/docs/stylesheet

Currently all of our style props are passed inline to any given view component during each render pass. This works fine, but I suspect we'll gain a lot in terms of performance by switching to a stylesheet API. The goal here is that instead of writing our styles as we have been, w

[2021-01-31 16:38] nick-thompson commented on #210
@ilionic that's right, we currently have a non-standard onMouseDrag feature: https://github.com/nick-thompson/blueprint/blob/master/react_juce/core/View.cpp#L249. I think in the long run we will want to remove it for closer parity to the web standards, but for now it's in there.

The problem is not that we're missing a `toJSON` (this is a non-standard Duktape feature in itself), but that our synth

[2021-01-31 16:47] nick-thompson commented on #96
@ilionic mentioned in Discord, but the Soul issue is just that Soul will need to update to the latest react_juce native.

For this issue though, things really start right here:
https://github.com/nick-thompson/blueprint/blob/master/react_juce/core/ViewManager.cpp#L64

Right there we have a `jassert` that seeks to ensure that the view you're trying to create is one that we actually support. General

[2021-01-31 22:20] ilionic commented on #210
Will post some findings. Don't have a full picture yet and continue digging but brains already fried :)

Found that such behaviour of `onMouseDrag` happens only on components with `ref`, ie Button. Slider on contrary works fine.
 `NativeMethods` being called because `prop` toJSON is not in the target. Target is React `ref` containing following properties: `["_props","_parent","_id","_type","_child

[2021-02-03 08:21] JoshMarler commented on #166
Personally I'd prefer not to do this as it breaks compatibility with some tools like clangs etc. That JUCE module/header approach isn't the most intellisense friendly approach. Do we need to follow it ?

[2021-02-03 14:12] nick-thompson commented on #166
Agreed actually; at some point in the duktape refactor I remember actually going kind of the opposite direction and explicitly declaring include dependencies in each header file. It feels odd to me to delegate the business of include ordering to the juce module header file rather than explicitly declare dependencies at each header.

Generally, too, I think it's likely more valuable to support dev

[2021-02-03 14:12] #166 closed

[2021-02-03 14:15] nick-thompson commented on #21
Done in #217 by @utokusa!

[2021-02-03 14:15] #21 closed

[2021-02-03 14:18] #165 closed

[2021-02-03 14:20] nick-thompson commented on #210
Great @ilionic sounds like you're on the right path definitely. `toJSON` is indeed part of Duktape's console proxy stuff; I don't think we need to worry about that part too much– the real question there is "why are we eventually trying to call `toJSON` on our native method proxy?" Seems like we're giving the wrong thing back to a `ref` or something like that...

[2021-02-05 21:58] olidacombe commented on #24
I am finding myself thinking about style guidance again in the context of props defined for core js components. `TextInputProps` is a good example, where there's a mixture of cases for the props (some are camelCase, some kebab-case).  Although it's perhaps not worth losing sleep over, I think having consistency in the interface exposed to clients has value.  What we've done with css props is conve

[2021-02-07 09:18] JoshMarler opened #226 "Add a Hermes EcmascriptEngine Pimpl"
This card covers adding support for the Hermes JS library: https://github.com/facebook/hermes

Initial support for this is just about complete and the performance gains are significant: https://github.com/JoshMarler/blueprint/tree/add_hermes_js_engine

[2021-02-07 09:21] JoshMarler commented on #226
@nick-thompson, I've put this down as beta for the moment as it will likely be ready very shortly but feel free to change this if you wish. The performance gains are really significant so might be nice to get this out for beta for people writing more complex apps or targeting embedded hardware etc.

As part of the PR for this I can separate out the Duktape based EcmascriptEngine into it's own pimp

[2021-02-08 14:16] nick-thompson commented on #226
Yep yep all sounds great

[2021-02-10 13:05] jrlanglois commented on #167
The helper is certainly practical in that nobody cares to be spammed by warnings caused by third party headers!

It's certainly an implementation detail, but there's limited harm in it.

[2021-02-10 14:53] nick-thompson commented on #24
Thanks @olidacombe!

I very much agree, and I think option 1 is my preference here too with perhaps a slight twist: what if we just set a convention that says that within the native code, all prop names are lowercase-with-hyphen, and in javascript code we run a "convert to lowercase-with-hyphen" on every prop key. For keys that are already lowercase-with-hyphen, this transform will do nothing, and

[2021-02-10 20:44] androidStern opened #230 "Make react-juce onMouseEnter and onMouseLeave events behave like their web counterparts"
### The Problem
react-juce mouseEnter and mouseLeave events don't behave like their web counterparts

### Background
Juce's mouseEnter and mouseExit events differ from their browser counterparts in a few ways (detailed below). Because react-juce simply forwards Juce mouse events onto the javascript engine, the react environment has inherited Juce's behavior which is unintuitive for react developer

[2021-02-11 09:32] olidacombe commented on #24
Yes @nick-thompson that sounds ideal.  And I think keeping typescript interfaces in camelCase to favour usage aligned with react native will be the right move too.  But yeah, this is easy to implement, understand, and it is as flexible as the end user could want 👍🏾

[2021-02-11 13:56] nick-thompson commented on #230
Excellent report @androidStern thank you.

I'm thinking that 1 & 2 we can do our own small check [right here](https://github.com/nick-thompson/blueprint/blob/master/react_juce/core/View.cpp#L254) to say "if we're leaving but the place we're leaving to is a child component, don't fire the event" and similar for the other direction.

I think (3) will probably be a game of just finding and implementi

[2021-02-12 14:56] androidStern commented on #230
Regarding #3: I'm not aware of any juce::component features that will solve this mousebutton problem. Some members of the juce discord forum suggested using DragAndDropContainer and DADTarget since they provide a dragEnter and dragExit callback that fire when mouse is held down and enter occurs. Imo, co-opting D&DContainer is icky and brings its own set of unwanted behaviors. DragAndDropContainer

[2021-02-12 15:14] androidStern commented on #230
Regarding # 2: The tricky bit is disambiguating mouseEnters caused by moving from a child out to its parent (we want to stifle these) and mouseEnters caused by moving from parent into its child (we these to fire on the child). Inside a mouseEnter callback you're saying "which direction am I coming from. there's not enough state on myself or the mouse event to tell me".

So one solution is to add a

[2021-02-15 17:59] nick-thompson commented on #230
Yea, I don't feel great about the idea of co-opting the DAD stuff for this, although @JoshMarler and I are planning some drag and drop behavior that sits a DADContainer at the ReactAppRoot level, so in a sense, having View generically inherit from DADTarget is not a major problem. Would need to prove that out and make sure there's no performance impact, but it wouldn't be a crazy lift to do all of

[2021-02-15 18:00] nick-thompson commented on #84
Think we can call this one closed! Thank you @eupston :)

[2021-02-15 18:00] #84 closed

[2021-02-15 18:02] JoshMarler commented on #230
Yeah the mouse button down thing is a pain. @androidStern maybe throw your suggested fix we discussed for #2 here as you could potentially try to leverage the `mouseDrag` event and workout the `View`instance under the mouse using the `MoustEvent`'s absolute position. Then during this callback you could potentially try to write/inspect your `wasMouseOver` flag in some way. I need to think more on t

[2021-02-15 18:03] JoshMarler commented on #84
Yeah this was killer @eupston. I'm getting assets from a designer in Sketch projects and this makes it much easier to copy palettes and gradients etc. etc. Nice stuff.

[2021-02-16 00:27] androidStern commented on #230
@JoshMarler: https://github.com/nick-thompson/blueprint/pull/238 here's a draft of what we talked about this morning

[2021-02-16 14:44] nick-thompson commented on #34
Wow, done, finally! Long live `react-juce`

[2021-02-16 14:44] #34 closed

[2021-02-16 15:14] JoshMarler commented on #226
Closing as resolved in https://github.com/nick-thompson/react-juce/commit/ae472e33e842bc6ffcebe3e245269769f4d868c8

[2021-02-16 15:14] #226 closed

[2021-02-16 17:46] JoshMarler opened #240 "Implement Hermes debugger support"
Hermes supports the chrome debugger protocol along with some profiling tools. Lets see how far we can take this. Can we get react-dev-tools working for example ...

Should ideally work using the same experience as the current Duktape debug integration, i.e. CMD-D starts the debugger and awaits client attach.

[2021-02-16 17:46] JoshMarler opened #241 "Document Hermes/Duktape switch"
We need to add instructions for switching the JS engine between Duktape/Hermes/QuickJS to the docs.

[2021-02-19 16:13] JoshMarler commented on #179
@nick-thompson , shall we close this for the moment and potentially revisit as part of an "add CSS grid support" or similar?

[2021-02-19 17:14] nick-thompson commented on #179
Woo!

Yea, let's close. We'll revisit the idea for another layout engine or grid support when it becomes a hot feature request

[2021-02-19 17:14] #179 closed

[2021-03-25 16:14] JoshMarler commented on #200
Adding performance label to this as it's likely to have a significant impact.

[2021-04-07 03:46] sdeleon28 opened #253 "Cannote include as CMake package with CPM"
I'm trying to add react-juce as a CPM dependency with this code:

[code]

And when I try to build with my usual `cmake -S . -B out/builds/` I get these errors:

[code]

[2021-04-07 03:47] sdeleon28 commented on #253
I've already forked and solved. Working on some docs to put a PR together.

[2021-04-07 03:49] sdeleon28 commented on #253
BTW, contributing guidelines say I should assign this to myself but it looks like I have no permissions to do so.

[2021-04-07 14:30] nick-thompson commented on #253
Thanks @sdeleon28! I wasn't even aware of CPM :)

I think this is related to an issue we've started seeing a fair amount recently, and one which @JoshMarler I think has some ideas on.

Thanks for tackling it. I'll assign it to you and check the permissions settings!

[2021-04-07 15:14] JoshMarler commented on #253
Yep was hoping to tackle this week but I've been tight on time so apologies @sdeleon28 ! For what it's worth, I was thinking the nicest approach might be to separate the examples CMakeLists.txt into it's own project and remove `add_subdirectory(examples/GainPlugin)` from the top level `react_juce` `CMakeLists.txt`.

My hope is that we can then remove `add_subdirectory(ext/juce)` from the top level

[2021-04-07 17:07] sdeleon28 commented on #253
No worries about the delay, @JoshMarler! I've been teaching myself some CMake for the past few days and now feel confident enough to contribute a solution that doesn't break anything.

When you say "into its own project" do you mean a separate repo? That could work but would also make the example a bit less discoverable. On the plus side, it would actually be a more useful example if the inclusion

[2021-04-07 17:12] JoshMarler commented on #253
Hey @sdeleon28 !

Sorry "project" was a poor choice of words. I mean more that examples would have it's own "top level" `CMakeLists.txt`.

i.e. users would do the following to run the example projetct:

[code]

So under `react-juce/examples` there would be a top level examples project which pulls in each of the example targets and also uses an `add_subdirectory(../react-juce)` to add `react-juce`

[2021-04-08 11:56] JoshMarler opened #255 "Passing a file URL to a .svg to ImageView renders nothing"
I'm finding passing a file URL to a .svg as `ImageView`'s `source` prop results in nothing being rendered.

I suspect we need to handle `.svg` file extensions explicitly and create a drawable from the files contents as a string or simlar.

[2021-04-08 20:06] nick-thompson commented on #255
Ahh yes indeed, that's a bug!

[2021-04-08 20:32] JoshMarler commented on #240
Turns out we'll need to implement the chrome debug/inspector protocol as is done in ReactNative so this will be a non-trivial integration.

See: https://github.com/facebook/hermes/issues/486

[2021-04-09 05:08] zigen commented on #240
FYI I tried react-dev-tools and it works (sometime it's buggy and too old version of react-juce).
I hope this will help you.
https://github.com/zigen/blueprint/compare/7d5d776...devtools

[2021-04-09 12:00] JoshMarler commented on #240
@zigen ahh that's awesome! I'll take a look over your branch and try to digest some of this. `react-dev-tools` isn't something I know a huge amount about but I'd love to see it available for profiling render cycles etc.

[2021-04-09 13:40] nick-thompson commented on #240
@zigen you're a hero 🙏 ! I haven't looked to closely at your code yet, but at a quick first pass this seems very much like something we could integrate upstream here

[2021-04-09 14:51] zigen commented on #240
Thanks for quick replies!
If I have a time, I want to merge into upstream, but perhaps I will be busy.
Anyone can copy/edit my code as you need.

When I tried, I was so confused because there're few document about react-devtools, so I drew a sketch.
now I remember it and rewrite it as a google slide.
If you have a question, please ask here or comment to my slides

https://docs.google.com/presentat

[2021-04-25 14:53] #255 closed

[2021-06-08 19:55] chikashimiyama opened #267 "Link 404"
On this page https://docs.react-juce.dev/guides/getting_started

At this point, we've got everything ready to get our project up and running. Let's move on to the next step, **running the demo plugin.**

the link is broken.

[2021-06-09 13:05] nick-thompson commented on #267
Thank you! Fixed in b4f47f8cdd481507c9bd3eca56c02ba9bfb59218, should be live on the docs site shortly

[2021-06-09 13:05] #267 closed

[2021-06-17 20:26] wasawi opened #269 "running example"
Hi I'm just trying to run the example and I hit this error.

JUCE v6.0.5
2021-06-17 22:18:59.728630+0200 ReactJUCEGainPlugin[9901:12175032] [plugin] AddInstanceForFactory: No factory registered for id <CFUUID 0x600000263280> F8BB1C28-BAE8-11D6-9C31-00039315CD46
2021-06-17 22:18:59.763810+0200 ReactJUCEGainPlugin[9901:12175032]  HALC_ShellDriverPlugIn::Open: Can't get a pointer to the Open routine

[2021-06-28 16:30] nick-thompson commented on #269
Hi @wasawi I apologize for the delay!

I'm not sure I've seen this error before... what is that assert checking for? Can you share the backtrace?

[2021-08-03 16:06] banburybill opened #277 "If source map is present, use it to translate source file/line/column references in backtrace."

[2021-11-18 20:39] duro opened #283 "Getting errors at compile time Member access into incomplete type 'reactjuce::EcmascriptEngine::Pimpl'"
I posted this in the Discord, so forgive me if this is redundant.

I am trying to get a simple HelloWorld app going. I have the JS bundle built, but when I compile the plugin in XCode I get the following error all over the place:

`Member access into incomplete type 'reactjuce::EcmascriptEngine::Pimpl'`

Here is a Gist of the only two files in the JUCE C++ app:
https://gist.github.com/duro/b5cca6c

[2021-11-18 23:02] milan-markovic commented on #283
I've fixed it by adding REACTJUCE_USE_DUKTAPE=1 to "Preprocessor definitions" in Projucer. No docs on that one. Also, REACTJUCE_USE_HERMES=1 doesn't seem to work.

[2021-11-19 13:55] nick-thompson commented on #283
Yep, that's exactly the fix (for now). This is an issue we intend to fix asap!

[2021-11-19 14:06] milan-markovic commented on #283
@nick-thompson can you check why hermes isn't working?

[2021-11-19 14:29] nick-thompson commented on #283
Of course, yea. I'm also going to ping @JoshMarler on this one as he's more knowledgeable on the details of the hermes integration

[2022-03-13 07:13] mikelange49 opened #284 "Worg path on the "running_the_examples" tutorial"
Hi Nick

https://docs.react-juce.dev/guides/running_the_examples

$ cd examples/GainPlugin/Source/jsui/

The Source folder doesn't exist : It's "examples/GainPlugin/jsui/"

Thanks for your work !

[2022-03-13 15:44] mikelange49 opened #285 "broken link on "Running the examples" tutorial"
https://docs.react-juce.dev/guides/running_the_examples
broken link : "adding React-JUCE to your own project"

[2022-03-13 15:51] mikelange49 opened #286 "missing step in the docs"
Hi.

I struggled building the GainPlugin example.
(I must say I'm quite new to cmake)
After searching, I finally realized that I had to run the "cmake -B" command from the react-juce folder.

I suggest you add that step, maybe in the "Getting started" doc page.

[2022-03-15 16:48] andyl-astardigital opened #287 "Prepare to upgrade beyond React 16"
After a brief chat with @JoshMarler on Discord I thought it worth recording this.

Essentially the task is to refactor and fix whatever is required (Josh knows far better than I do) to allow an upgrade of React beyond 16.

Happy to help if I can.

[2022-08-11 02:35] the-jasoney opened #297 "Pointer to incomplete class type "reactjuce::EcmascriptEngine::Pimpl" is not allowed"
When I tried implementing react-juce with my project, it came up with this error:
`
Error (active)	E0393	pointer to incomplete class type "reactjuce::EcmascriptEngine::Pimpl" is not allowed	neutron_SharedCode	[my_path_to_react_juce]\react_juce\core\EcmascriptEngine.cpp	42
Error (active)	E0393	pointer to incomplete class type "reactjuce::EcmascriptEngine::Pimpl" is not allowed	neutron_SharedCode	[m

[2022-08-19 05:49] josebedoyas opened #298 "Possibility to create an app for Android?"
Hello! I'm new programming in React native but I have some knowledge in JUCE and I'm creating an android application; I would like to know if this framework allows me to make the application and all the graphic section in Reac native and that the processing or "audio engine" is done by JUCE?
If so, is there any additional step to run it with Android studio as I normally do with an application deve

[2022-09-29 17:20] vvruspat commented on #297
solved that by adding REACTJUCE_USE_HERMES=1